    <section class="container-fluid content static_banner"><!-- start of middle_part -->
        
        <div class="col-xs-12 no-padding"><!-- start of banner_image -->
        	<img src="assets/images/static_pics/prive_member.jpg" alt="Selfie Generic" class="img-responsive">
        </div><!-- end of banner_image -->
        
        <div class="container">
            <div class="row"><!-- start of row -->
                
                <div class="col-sm-12 col-xs-12 main_heading category_heading"><!-- start of heading_part -->
                	<h3>
                    	<span>
                        	Product Category
                            <img src="assets/images/heading_img.png" class="img-responsive os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s" alt="Squares">
                        </span>
                    </h3>
                </div><!-- end of heading_part -->
                
                <div class="col-xs-12 row-flex row-flex-wrap"><!-- start of image_section -->
                
                    <div class="col-sm-6 col-xs-12 category_div"><!-- start of category_1 -->
                    	<a routerLink="/scent-shot" routerLinkActive="active">
                        	<img src="assets/images/product_category/scent-shot.jpg" class="img-responsive center-block">
                        </a>
                    </div><!-- end of category_1 -->
                
                    <div class="col-sm-6 col-xs-12 category_div"><!-- start of category_2 -->
                    	<a routerLink="/perfume-bottle" routerLinkActive="active">
                        	<img src="assets/images/product_category/perfume.jpg" class="img-responsive center-block">
                        </a>
                    </div><!-- end of category_2 -->
                
                    <div class="col-sm-6 col-xs-12 category_div"><!-- start of category_3 -->
                    	<a routerLink="/deodorant" routerLinkActive="active">
                        	<img src="assets/images/product_category/deo.jpg" class="img-responsive center-block" alt="Deo">
                        </a>
                    </div><!-- end of category_3 -->
                
                    <div class="col-sm-6 col-xs-12 category_div"><!-- start of category_4 -->
                    	<a routerLink="/body-mist/jacqui-david-passion-bodymist" routerLinkActive="active">
                        	<img src="assets/images/product_category/body_mist.jpg" class="img-responsive center-block" alt="Body Mist">
                        </a>
                    </div><!-- end of category_4 -->
                
                </div><!-- end of image_section -->
                
            </div><!-- end of row -->
        </div>
    </section><!-- end of middle_part --> 
	