<section class="container-fluid content"><!-- start of middle_part -->
	
	<div class="container">
		<div class="row"><!-- start of row -->
			
			<div class="col-sm-12 col-xs-12 main_heading margin-md-top margin-md-bottom"><!-- start of heading_part -->
				<h3>
					<span>
						Perfume Selfie
						<img src="assets/images/home/heading_img.png" class="img-responsive" alt="Square">
					</span>
				</h3>
				<p>
					Try Your Perfumes Before You Buy Them
				</p>
			</div><!-- end of heading_part -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					7 Perfumes Delivered at Your Doorstep
				</h4>
				<p>
					The Perfume selfie is a unique one of its kind concept in the world. Each box contains 7 Internation mini perfumes, a Perfume Selfie case and a Rs. 501 Gift Card to redeem against the larger perfume.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					CHANGE YOUR PERFUME EVERYDAY TO SUIT THE OCCASION
				</h4>
				<p>
					With 7 perfumes, you can now change your perfume everyday and have a different one for occasion instead of applying the same everyday.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					PERFUME YOU RECEIVE ARE FROM DIFFERENT BRANDS
				</h4>
				<p>
					All 7 perfumes you get will be supplied from 7 different brands. Instead of buying perfumes seperately from different brands, we enable you get it all in one single place.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 main_heading margin-md-top margin-md-bottom"><!-- start of heading_part -->
				<h3>
					<span>
						Each Box Contains
						<img src="assets/images/home/heading_img.png" class="img-responsive" alt="Square">
					</span>
				</h3>
			</div><!-- end of heading_part -->
			
			<div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 selfie_content_div margin-md-bottom"><!-- start of images -->
				<p>
					<img src="assets/images/static_pics/each_box.jpg" class="img-responsive center-block" alt="Each Box">
				</p>
			</div><!-- end of images -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h3>
					7 International Brands
				</h3>
				<p>
					Buy the Perfume selfie & get 7 international perfumes delivered at your doorstep. Perfume you receive are from the following brands.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0"><!-- start of slider -->
				<!-- Carousel -->
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active contains_slider">
							<h3><span>Chris Adams</span></h3>
							<img src="assets/images/know_more/slider/chris-adams.jpg" class="img-responsive" alt="First slide">
							<div class="contains_logo">
								<img src="assets/images/brand_logo/chris-adams.jpg" class="img-responsive" alt="Chris Adams">
								<div>
									Chris Adams, Paris is a house of perfumers skilled in the timeless art of perfume making, yet forever pushing boundaries, creating fragrances that are fresh and contemporary. This perfumery by the house of Nabeel, is dedicated to creating innovative fragrances and designs that are not only of a superior quality, but also enchant you with their unique signature scents.
								</div>
							</div>
						</div>
						
						<div class="item contains_slider">
							<h3><span>Creation</span></h3>
							<img src="assets/images/know_more/slider/creation.jpg" class="img-responsive" alt="Slide 1">
							<div class="contains_logo">
								<img src="assets/images/brand_logo/creation.jpg" class="img-responsive" alt="Creation">
								<div>
									Creation is a new age brand from the house of My Perfumes Factory, UAE. A young brand that aims at creating unique and high quality fragrances.
								</div>
							</div>
						</div>
						
						<div class="item contains_slider">
							<h3><span>Emper</span></h3>
							<img src="assets/images/know_more/slider/emper.jpg" class="img-responsive" alt="Slide 2">
							<div class="contains_logo">
								<img src="assets/images/brand_logo/emper.jpg" class="img-responsive" alt="Emper">
								<div>
									Emper perfumes and cosmetics is a young, dynmic company dedicated to creating an exquisite range of perfumes as well as a line of premium cosmetics.
								</div>
							</div>
						</div>
						
						<div class="item contains_slider">
							<h3><span>English Blazer</span></h3>
							<img src="assets/images/know_more/slider/english-blazer.jpg" class="img-responsive" alt="Slide 3">
							<div class="contains_logo">
								<img src="assets/images/brand_logo/englis.jpg" class="img-responsive" alt="English">
								<div>
									English Blazer is the original world-class fragrance; accented with style and refinement, it is the expression of man's thirst for excellence and attention to detail.
								</div>
							</div>
						</div>
						
						<div class="item contains_slider">
							<h3><span>Lomani</span></h3>
							<img src="assets/images/know_more/slider/lomani.jpg" class="img-responsive" alt="Slide 4">
							<div class="contains_logo">
								<img src="assets/images/brand_logo/lomani.jpg" class="img-responsive" alt="Lomani">
								<div>
									Lomani, the star brand from the Parfums Parour, has been a leader for over 25 years in all international markets. With its flagship Eau de Toilette brand, LOMANI pour Homme, an original, direct and refined scent, it holds a special place in the world of perfume.
								</div>
							</div>
						</div>
						
						<div class="item contains_slider">
							<h3><span>Louis Cardin</span></h3>
							<img src="assets/images/know_more/slider/louis-cardin.jpg" class="img-responsive" alt="Slide 5">
							<div class="contains_logo">
								<img src="assets/images/brand_logo/louis-cardin.jpg" class="img-responsive" alt="Louis Cardin">
								<div>
									Louis Cardin uses French Fine Fragrances in All its Perfume Variants which in turn gives Long lasting and excellent Diffusion. The R&D Department ensures to produce unique fragrances that has a soothing & Stimulating effect.
								</div>
							</div>
						</div>
						
						<div class="item contains_slider">
							<h3><span>Maryaj</span></h3>
							<img src="assets/images/know_more/slider/maryaj.jpg" class="img-responsive" alt="Slide 6">
							<div class="contains_logo">
								<img src="assets/images/brand_logo/maryaj.jpg" class="img-responsive" alt="Maryaj">
								<div>
									Born out of the quest for simplicity and purity, Maryaj is the brainchild of AJMAL PERFUMES. A young brand that brings a fresh spin on 'lifestyle fragrances' reflecting the search for a new, contemporary freshness.
								</div>
							</div>
						</div>
					</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						<span class="glyphicon glyphicon-menu-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						<span class="glyphicon glyphicon-menu-right"></span>
					</a>
				</div>
				<!-- /carousel -->
			</div><!-- end of slider -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					WE SELL ONLY INTERNATIONAL BRANDS
				</h4>
				<p>
					Perfume Booth have an exclusive tie-up with the above mentioned brands. All perfumes have been manufactured internationally in France, UK and UAE.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					HIGHEST QUALITY OF PERFUMES -EDT/EDP
				</h4>
				<p>
					All perfumes you receive in the Perfume Selfie box are EDT/EDP, which means the concentration of perfume oil used is highly concentrated for longer lasting fragrance.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					6 TIMES LONGER LASTING THAN DEODRANTS
				</h4>
				<p>
					EDT/EDP have 12-18% perfume Oil, on the other hand, Deodrants have 2-4%. This will make our perfumes last much longer.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h3>
					Perfume Selfie Case
				</h3>
				<h4>
					A PATENT PENDING DEVICE
				</h4>
				<p>
					The Perfume Selfie Case is a "Patent Pending" carry case uniquely designed by our team to enable you to carry your mini perfumes in it.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 selfie_content_div margin-md-bottom"><!-- start of images -->
				<h5><span>Carry Your Perfume In Style</span></h5>
				<p>
					<img src="assets/images/know_more/selfie_case.jpg" class="img-responsive center-block" alt="Each Box">
				</p>
			</div><!-- end of images -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					CARRY CASE FOR YOUR MINI PERFUME
				</h4>
				<p>
					Fit your mini perfumes inside the Perfume Selfie Case. Once the 4ml perfume fits inside it, it will look like a bigger perfume.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					PERFECT SIZE FOR THE PERFECT SPRAY
				</h4>
				<p>
					Once you fit your mini perfume into the case, the PerfumeSelfie case is big enough to fit in your hands for the perfect spray and still small enough to fit in your pocket.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					CARRY IN YOUR POCKET
				</h4>
				<p>
					Now carry your perfume with you and use it when you need it the most, just before a meeting or a date.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 selfie_content_div margin-md-bottom"><!-- start of video -->
				<h5><span>How To Use It?</span></h5>
				<p>
					<iframe width="100%" height="350" src="https://www.youtube.com/embed/PsTpsDDT-Rk?rel=0" frameborder="0" allowfullscreen></iframe>
				</p>
			</div><!-- end of video -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h3>
					<i class="fa fa-rupee"></i>501 gift voucher
				</h3>
				<h4>
					CONVERT YOUR MINI PERFUME INTO A LARGER ONE
				</h4>
				<p>
					Every Perfume Selfie Box comes with 7 perfumes and a ₹501 Gift Card. Once you use the 7 perfumes and decide your favourite one, redeem the ₹501 Voucher to buy the larger perfume.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 selfie_content_div margin-md-bottom"><!-- start of images -->
				<p>
					<img src="assets/images/static_pics/gift_voucher.jpg" class="img-responsive center-block" alt="Gift Voucher">
				</p>
			</div><!-- end of images -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					GET A RS. 1200 PERFUME FOR 699
				</h4>
				<p>
					All perfumes sold at perfumersclub.com are between the price range of 1200 - 1500. With the ₹501 Gift Card, the ₹1200 perfume will cost only ₹699/-
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					PERFUMES ARE OF INTERNATIONAL QUALITY
				</h4>
				<p>
					All perfumes sold are of a quality equivalent to brand name perfumes apperaing in glossy design magazines, you get the same quality on for a fraction of price.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					STYLISH BOTTLES
				</h4>
				<p>
					The bottles of perfumes sold at our website are extremely stylish and will look amazing at your vanity table.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					THE EVERYDAY PERFUME
				</h4>
				<p>
					Where brand name perfumes are expensive and we only use it for special occasion, our motto is to make perfume affordable so that you can now use it everyday.
				</p>
			</div><!-- end of contact_detail -->
			
			<div class="col-sm-12 col-xs-12 selfie_content_div"><!-- start of content -->
				<h4>
					CHOOSE FROM 42 PERFUMES
				</h4>
				<p>
					We have shortlisted 42 best selling perfumes worldwide from these 7 brands so that you fall in love with them.
				</p>
			</div><!-- end of contact_detail -->
			
		</div><!-- end of row -->
	</div>
</section><!-- end of middle_part -->
        
