	<div class="content"><!-- start of middle_page -->
    	
        <section class="container-fluid section_box section_gradient pattern_image mt-n3"><!-- start of section_box -->
        	<div class="container"><!-- start of container -->
            	<div class="row align-items-center"><!-- start of row -->
                	
                    <div class="col-12 heading_div"><!-- start of heading_div -->
                    	<h1>
                        	<span>About Us</span> Writing a new fragrance story each day
                        </h1>
                        <span class="heading_border"></span>
                    </div><!-- end of heading_div -->
                    
                    <div class="col-12 staticPage_content"><!-- start of content_part -->
                    	<p>
                        	Perfumer's Club aims to drive the deodorant oriented market towards perfumes by giving the customers a better fragrance experience. We want to create a niche club for people who understands that the quality, lasting and pricing of a perfume is always better than deodorant. While other mass-producing fragrance companies provide perfumes with inferior fragrance essence, we offer better quality perfumes for generating better sales through 100% customer satisfaction ensuring that they always come back to us.
                        </p>
                    	<p>
                        	Our fragrances are created by the experts and contain 18% fragrance essence or oil giving you a perfume experience of premium branded perfumes. Our fragrance experts handpick the finest of scents from all around the world and modify them to suit the needs of Indian customers. We know that Indians love to stand out so we try to make our perfumes highly fragrant and loud so that everyone around you can notice your scent.
                        </p>
                    </div><!-- end of content_part -->
                    
                </div><!-- end of row -->
            </div><!-- end of container -->
        </section><!-- end of section_box -->
    
    </div><!-- end of middle_page -->
