<h3 class="user_detail_heading">Reviews</h3>
<div class="row mt-5"><!-- start of content -->
    <div *ngIf="(reviews.length == 0) && !loader" class="col-12 review_rating_div"><!-- start of product_1 -->
        <div class="card">
			<div class="col-12 d-flex flex-wrap p-0">
				<div class="review_content"><!-- start of review_content -->
					<div class="d-flex flex-wrap align-items-center justify-content-between profile_name">
						Sorry, review not found!
					</div>					
				</div><!-- end of review_content -->
			</div>  
        </div>
    </div><!-- end of product_1 -->
    <div *ngFor="let item of reviews" class="col-12 review_rating_div"><!-- start of product_1 -->
        <div class="card">
			<div class="col-12 d-flex flex-wrap p-0">
				<div class="profile-pic">
					<img [src]="((item.images.url !== undefined) && (item.images.url !== '')) ? item.images.url : 'assets/images/is-base.jpg'" class="img-fluid" [alt]="item.images.alt">
				</div>				
				<div class="review_content"><!-- start of review_content -->
					<div class="d-flex flex-wrap align-items-center justify-content-between profile_name">
						<a routerLink="/{{item.urlKey}}" target="_blank">{{item.title}}</a>
						<p>Posted on {{item.reviews.created}}</p>
					</div>					
					<div>
						<p class="text-left m-0">
							<span class="text-muted">{{item.reviews.finalRating | number: '1.1-1'}}</span> &nbsp;
							<span class="fa fa-star star-active" *ngFor="let star of getFinalRating(item.reviews.finalRating)"></span> 
							<span class="fa fa-star star-inactive" *ngFor="let star of getRemainingRating(item.reviews.finalRating)"></span>
						</p>
					</div>
				</div><!-- end of review_content -->
			</div>  
        </div>
    </div><!-- end of product_1 -->
    <div *ngIf="loader" class="col-12 review_rating_div"><!-- start of product_1 -->
        <div class="card">
			<div class="col-12 d-flex flex-wrap p-0">
				<div class="review_content"><!-- start of review_content -->
					<div class="d-flex flex-wrap align-items-center justify-content-between profile_name">
						<i class="fa fa-spinner fa-spin"></i>
					</div>					
				</div><!-- end of review_content -->
			</div>  
        </div>
    </div><!-- end of product_1 -->
    <div *ngIf="moreReviewsFlag" class="col-12 review_rating_div"><!-- start of product_1 -->
        <div class="card">
			<div class="col-12 d-flex flex-wrap p-0">
				<div class="review_content"><!-- start of review_content -->
					<div class="d-flex flex-wrap align-items-center justify-content-between profile_name">
						<button (click)="loadMoreReviews();" class="btn my-btn checkout_btn from-left">
							View More
						</button>
					</div>					
				</div><!-- end of review_content -->
			</div>  
        </div>
    </div><!-- end of product_1 -->
</div><!-- end of content -->
