    <section class="container-fluid content"><!-- start of middle_part -->
        <div class="container">
            <div class="row"><!-- start of row -->
                
                <div class="col-sm-12 col-xs-12 main_heading margin-md-top xs-no-padding"><!-- start of heading_part -->
                    <h3>
                        <span>
                            Order Failure
                            <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                        </span>
                    </h3>
                </div><!-- end of heading_part -->
                
                <div class="col-sm-12 col-xs-12 confirmed_detail xs-no-padding"><!-- start of content -->
                    <p class="font-18 margin-md-bottom">
                        <strong>We are sorry!</strong>
                    </p>
                    <p class="font-17 margin-md-bottom">
                        Your order could not be processed. Don't worry just Re-order by clicking on "Try Again". 
                    </p>
                    <p class="font-17 margin-md-bottom">
                        Keep shopping at Perfumers Club.
                    </p>
                    <div class="col-sm-6 col-xs-6">
						<div class="text-center">
							<a routerLink="/" class="btn my-btn checkout_btn from-leftt">
								Back To Home
							</a>
						</div>
					</div>	
                    <div class="col-sm-6 col-xs-6" *ngIf="orderNumber != ''">
						<div class="text-center">
							<button class="btn my-btn checkout_btn from-left" (click)="reOrders();">
								Try Again
							</button>
						</div>
					</div>	
                </div><!-- end of content -->
                
            </div><!-- end of row -->
        </div>
    </section><!-- end of middle_part -->
    
