<!-- start of minicart item delete popup -->
<div id="removeItemFromPopup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-sm col-sm-offset-3">
      <div class="modal-header no-padding no-border">
        <button type="button" class="close video_close" #hideDeleteMiniCartModal data-dismiss="modal">
          <span class="icon_cross"></span>
          <span class="icon_cross"></span>
        </button>
      </div>
      <div class="modal-body col-sm-12 col-xs-12 confirm_popup_div">
        <h3 class="clearfix">Confirmation</h3>
        <p class="clearfix">{{confimMsg}}</p>
        <button type="button" class="btn from-left cart_btn margin-md-bottom" (click)="removeItem();">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- end of minicart item delete popup -->