html, body {margin: 0; padding: 0; height: 100%; color: #4d4d4d; font-family: 'Poppins', sans-serif;}

/* start of footer alwayes fixed to bottom */
.wrapper {min-height: 100%; position: relative; padding-top: 0.01rem;}
.content {padding-bottom: 35rem; padding-top: 1rem; padding-left: 0; padding-right: 0;}
.footer {width: 100%; height: auto; position: absolute; bottom: 0; z-index: 0;}
.noFooter ~ div .content, .content.noFooter {padding-bottom: 3rem;}
/* end of footer alwayes fixed to bottom */

a{text-decoration: none;}
a:hover{text-decoration: none;}

.btn-primary {color: #212529; background-color: #FF5151; border-color: #d6b603;}
.btn-primary:hover {color: #212529; background-color: #caab02; border-color: #fcda1c;}
.btn-primary:focus, .btn-primary.focus {box-shadow: 0 0 0 0.2rem rgba(187, 160, 9, 0.5);}
.btn-primary.disabled, .btn-primary:disabled {color: #212529; background-color: #FF5151; border-color: #d6b603;}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {color: #212529; background-color: #fdde35; border-color: #655601;}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus { box-shadow: 0 0 0 0.2rem rgba(187, 160, 9, 0.5);}

/* start of header css */
.header-main {position: relative;}
.header-main:after {content: ""; position: absolute; bottom: 0; height: .1rem; width: 100%; background: #3b4e76;}

/* start of cross_btn css */
.close-btn {padding: .4rem 0; position: absolute; top: 0.4rem; right: 0.4rem;}
.close-btn .icon-cross {background: #3b4e76; width: 0.8rem; height: 0.1rem; display: block;}
.close-btn .icon-cross:nth-child(1) {transform: rotate(45deg);}
.close-btn .icon-cross:nth-child(2) {transform: rotate(-45deg); margin-top: -0.1rem;}
.close-btn:hover .icon-cross {background: black;}
.close-btn.close-modal {top: 1rem; right: 1rem; padding:1rem .5rem; background:#ffffff; box-shadow:0 0 1rem rgba(0,0,0,0.2); border-radius:0; opacity:1;}
.close-btn.close-modal .icon-cross {width: 1.3rem;}
/* end of cross_btn css */

/* start of button css */
.btn{transition: ease all 0.5s; -webkit-transition: ease all 0.5s;}
.btn:focus, .btn:active, button:active, button:focus, .form-control:focus {box-shadow: none; outline:none;}
.btn:active, .my-btn:active{transform:scale(1); transition: ease all 0.5s; -webkit-transition: ease all 0.5s;}
.my-btn {display: inline-block; background: #3b4e76; color: #FF5151; font-size: 1rem; font-weight: 500; padding-left: 1rem; padding-right: 1rem; padding-top: 0rem; padding-bottom: 0rem; height: 2.5rem; line-height: 2.2rem; text-transform:uppercase; border-radius: 0; z-index: 1; position: relative; border:.13rem solid #FF5151; transition: ease all 0.5s; -webkit-transition: ease all 0.5s; cursor: pointer;}
.my-btn::after {content: ''; position: absolute; z-index: -1; transition: ease all 0.5s; -webkit-transition: ease all 0.5s;}		
.my-btn:focus {color: #FF5151; border-color:#3b4e76;}
.my-btn.cart_btn {background:#3b4e76;}

.my-btn.cart_btn::before {content: ''; position: absolute; transition: inherit; z-index: -1;}
.my-btn.cart_btn:hover {transition-delay: 0.4s; color: #3b4e76; border-color:#FF5151;}
.my-btn.cart_btn:hover::before {transition-delay: 0s;}

.my-btn.cart_btn:hover::after {transition-delay: 0.2s; background:#FF5151; color:#3b4e76;}
.my-btn.btn_outline {background: none; border: .1rem solid #3b4e76; color: #3b4e76;}

.my-btn.checkout_btn {background:#3b4e76;}
	
.my-btn.checkout_btn::before {content: ''; position: absolute; transition: inherit; z-index: -1;}
.my-btn.checkout_btn:hover {transition-delay: 0.4s; color: #3b4e76; border-color:#FF5151;}
.my-btn.checkout_btn:hover::before {transition-delay: 0s;}

.my-btn.checkout_btn:hover::after {transition-delay: 0.2s; background:#FF5151; color:#3b4e76;}
		
.my-btn.from-left::before {top: 0; width: 0; height: 100%;}
.my-btn.from-left::after {top: 0; width: 0; height: 100%;}
.my-btn.from-left::before {right: 0; border: 2px solid #3b4e76; border-left: 0; border-right: 0;}
.my-btn.from-left::after {left: 0;}
.my-btn.from-left:hover::before {width: 100%;}
.my-btn.from-left:hover::after {width: 100%;}
/* end of button css */

/* start of group_input css */
.group_input .form-control {border-radius: 0; font-size: 0.95rem;}

/* start of header-top part */
.nav-top{min-height:7rem; background:#3b4e76;}
.nav-top a.navbar-brand{position:absolute; left:50%; transform:translateX(-50%); padding:0; margin:0; z-index:1;}
.nav-top a.navbar-brand img {width: 6rem;}
.nav-top ul.navbar-nav li {position: relative;}
.nav-top ul.navbar-nav li a.nav-link {color: rgba(255, 255, 255, 0.8); font-size: 0.8rem; transition: ease all 0.5s; -webkit-transition: ease all 0.5s; cursor: pointer;}
.nav-top ul.navbar-nav li a.nav-link .badge{background: #FF5151; width: 1rem; height: 1rem; line-height: 1rem; text-align: center; top: -.6rem; left: -.2rem; padding: 0;}
.nav-top ul.navbar-nav li a.nav-link.sticky-top-affix {position: fixed; top: 0; right: 0; background: #000; color: #fff; padding: 1.05rem 0.8rem; z-index: 10;}
.nav-top ul.navbar-nav li a.nav-link.sticky-top-affix + .dropdown-menu {position: fixed; top: 3.1rem;}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; }
  0% {
    transform: translateY(1rem);
    opacity: 0; }
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; }
  0% {
    transform: translateY(1rem);
    opacity: 0; }
}
.nav-top ul.navbar-nav li a.nav-link:hover,
.nav-top ul.navbar-nav li a.nav-link:focus,
.nav-top ul.navbar-nav li.show a.nav-link{color: #FF5151;}
.nav-top ul.navbar-nav li .slideIn {-webkit-animation-name: slideIn; animation-name: slideIn;}
.nav-top ul.navbar-nav li .animate {animation-duration: 0.3s; -webkit-animation-duration: 0.3s; animation-fill-mode: both; -webkit-animation-fill-mode: both;}
.nav-top ul.navbar-nav li + li::before {content: "|"; position: absolute; left: 0; top: 0.4rem; font-size: 0.8rem; color: gray;}
.nav-top ul.navbar-nav li.user-menu .dropdown-menu {border-radius: 0; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); border: 0rem;}
.nav-top ul.navbar-nav li.user-menu .dropdown-menu.user-menu > .dropdown-menu::before {content: "|"; position: absolute; top: 0; right: 0.8rem; height: 0.2rem; width: 0.2rem; background: #FF5151; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);}
.nav-top ul.navbar-nav li.user-menu .dropdown-menu a.dropdown-item {font-size: 0.9rem; padding-left: 0.8rem; padding-right: 0.8rem; padding-top: 0.5rem; padding-bottom: 0.5rem; transition: ease all 0.5s; -webkit-transition: ease all 0.5s;}
.nav-top ul.navbar-nav li.user-menu .dropdown-menu a.dropdown-item:hover {background: none; color: #FF5151; text-indent:.3rem;}
.nav-top ul.navbar-nav li.user-menu .dropdown-menu .loginReg_text {display: flex; align-items: center;
	background: -moz-linear-gradient(left, #8b3390 0%, #3b4e76 100%);
	background: -webkit-linear-gradient(left, #8b3390 0%, #3b4e76 100%);
	background: linear-gradient(to right, #8b3390 0%, #3b4e76 100%);}
.nav-top ul.navbar-nav li.user-menu .dropdown-menu .loginReg_text a.enter-form {color: #fff; position: relative;}
.nav-top ul.navbar-nav li.user-menu .dropdown-menu .loginReg_text a.enter-form:hover {color: #FF5151; text-indent:0;}
.nav-top ul.navbar-nav li.user-menu .dropdown-menu .loginReg_text a.enter-form + a:before {content: "|"; position: absolute; left: -0.7rem; top: 0.55rem; font-size: 0.8rem; color: #e6e6e6;}
.nav-top ul.navbar-nav li.cart-menu .shopping-cart::after {display: none;}
.nav-top ul.navbar-nav li.cart-menu .dropdown-menu {border-radius: 0; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); border: 0rem; padding: 0.5rem; min-width: 18rem;}
.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .text-black i {font-size: 0.8rem;}
.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 {padding-right: 1.5rem; position: relative;}
.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-name {color: #000000; transition: ease all 0.5s;}
.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-name:hover {color: black;}
.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-price {color: #000000; font-size: 1rem; padding-right: 1rem;}
.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-price i {font-size: 0.8rem;}
.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-quantity {color: gray; font-size: 0.875rem;}
.nav-top ul.navbar-nav li.cart-menu .dropdown-menu::before {content: "\f0d8"; position: absolute; top: -1rem; right: 1rem; font-size: 1.8rem; color: #fff; text-shadow: 0 -0.5rem 0.6rem rgba(0, 0, 0, 0.2); line-height: 1; font-family: "Font Awesome 5 Free"; font-style: normal; font-variant-caps: normal; font-variant-ligatures: normal; -webkit-font-smoothing: antialiased; font-weight: 700;}
/* end of header-top part */

/* start of nav_menu part */
.nav-top ul.nav_menu li {position: relative;}
.nav-top ul.nav_menu li a.nav-link {color:rgba(255, 255, 255, 0.8); font-size: .85rem; letter-spacing:.01rem; padding:.6rem 1.5rem 0.5rem; transition: ease all 0.5s; -webkit-transition: ease all 0.5s; text-transform: capitalize;}
.nav-top ul.nav_menu li a.nav-link:hover {color:#FF5151;}
.nav-top ul.nav_menu li + li::before {content: "|"; position: absolute; left: -0.1rem; top: 0.6rem; font-size: 0.8rem; color: gray; color:rgba(255, 255, 255, 0.8);}
.nav-top ul.nav_menu li + li:nth-child(2)::before{display:none;}
.nav-top ul.nav_menu li a.nav-link.my-btn{padding:0 1rem; color:#FF5151;}
.nav-top ul.nav_menu li a.nav-link.my-btn:hover{color:#3b4e76;}
.nav-top ul.nav_menu li.profilePicSec{display: none;}
/* end of nav_menu part */

/* start of footer-top section */
.footer_top {background: #fff; border-top: 0.2rem solid #3b4e76; padding-left: 0rem; padding-right: 0rem; padding-top: 1rem; padding-bottom: 1rem;}
.footer_top .row {display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.footer_top .row ul {margin: 0;}
.footer_top .row ul li a {color: #000000; transition: ease all 0.5s; -webkit-transition: ease all 0.5s; padding-left: 0.6rem; padding-right: 0.6rem; padding-top: 0.3rem; padding-bottom: 0.3rem;}
.footer_top .row ul li a.fb:hover {color: #3b5999;}
.footer_top .row ul li a.tw:hover {color: #55acee;}
.footer_top .row ul li a.inst:hover {color: #e4405f;}
.footer_top .row ul li a.yt:hover {color: #cd201f;}
.footer_top .row ul li a.pi:hover {color: #bd081c;}
.footer_top .row form .input-group .news_text {padding-right: 1.2rem; padding-top: 0.5rem; font-size: 0.9rem;}
.footer_top .row form .input-group .input-group-append .my-btn{height:2.3rem; line-height:2rem;}

/* start of footer-bottom section */
.footer_bottom {background: #3b4e76; padding-left: 0rem; padding-right: 0rem; padding-top: 2rem;}
.footer_bottom h4 {color: #FF5151; text-transform: uppercase; font-size: 1rem; margin-bottom: 1rem; font-weight: 600;}
.footer_bottom ul {margin: 0rem;}
.footer_bottom ul li:not(:last-child) {margin-bottom: 0.2rem;}
.footer_bottom ul li {position: relative;}
.footer_bottom ul li a {color: #ffffff; font-size: 0.8rem; transition: ease all 0.5s; -webkit-transition: ease all 0.5s;}
.footer_bottom ul li a:hover {color: #FF5151;}
.footer_bottom ul li p {color: #ffffff; font-size: 0.8rem; padding-left: 2rem; word-break: break-word;}
.footer_bottom ul li p i {position: absolute; top: 0; left: 0; font-size: 1.2rem;}
.footer_bottom .cards_detail {display: flex; align-items: flex-end; justify-content: space-between; flex-wrap: wrap; padding-left: 0rem; padding-right: 0rem; padding-top: 1rem; padding-bottom: 1rem; border-width: 0.1rem 0; border-style: solid; border-color: gray; margin-top: 1.5rem; margin-bottom: 1.5rem;}
.footer_bottom .cards_detail h5 {color: #e6e6e6; text-transform: capitalize; font-size: 0.8rem; font-weight: 600;}
.footer_bottom .cards_detail ul li {display: inline-block; width: 3.5rem;}
.footer_bottom .disclaimer_text {text-align: center; background:#FF5151; padding:.5rem 1rem; margin-top:2rem;}
.footer_bottom .disclaimer_text p {font-size: 0.8rem; color: #000000; letter-spacing: 0.02rem; margin-bottom:.5rem;}
.footer_bottom .disclaimer_text p:last-child {margin-bottom: 0;}

/* start of scroll top css */
.return-to-top {position: fixed; bottom: 1.3rem; right: 1.3rem; background: rgba(0, 0, 0, 0.7); width: 3rem; height: 3rem; z-index: 9; display: block; text-decoration: none; border-radius: 50%; display: none; text-align: center; box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.2); transition: ease all 0.3s; -webkit-transition: ease all 0.3s;}
.return-to-top i {color: #fff; margin: 0; position: relative; top: .9rem; font-size: 1.3rem; transition: ease all 0.3s; -webkit-transition: ease all 0.3s;}
.return-to-top:hover {background: rgba(0, 0, 0, 0.9);}
.return-to-top:hover i {color: #fff; top: .5rem;}

/* start of heading css */
.heading_div{position:relative; padding:1rem .8rem;}
.heading_div h1, .heading_div h3{text-align:center; font-size: 1.2rem; font-weight:600; text-transform:capitalize; margin:0; color: #000000;}
.heading_div h1 span, .heading_div h3 span{display:block; font-size: .85rem; margin-bottom:.5rem; letter-spacing:normal; line-height: 1.3; color: #FF5151; text-transform: uppercase;}
.heading_div .heading_border{content:""; position:relative; width:5rem; height:0.3rem; background:#FF5151; display:block; left:50%; transform:translateX(-50%); bottom:-.8rem; display: none;}

/******** start of sub heading *************/
.user_detail_heading{font-size:1.2rem; color:#3b4e76; padding:0.5rem 0.5rem .7rem .8rem; text-transform:uppercase; font-weight:bolder; border-left:.1rem solid rgba(0,0,0,0.1); position:relative; width:100%; display:block;}
.user_detail_heading:before{content:""; position:absolute; bottom:.1rem; left:0.15rem; width:8rem; height:90%; background:rgba(0,0,0,0.05); display:block; z-index:-1;}

/*********** start golabal popup css **************/
.modal-backdrop + .modal-backdrop{z-index:1050;}
.modal + .modal{z-index:1051;}
.modal.show ~ body{overflow:hidden;}
.modal-backdrop.show{opacity:.75;}
.global_popup{top:auto; bottom:0; height:auto; padding-top:4rem;}
.modal-open .global_popup{overflow-y:hidden;}
.global_popup .modal-dialog{margin:0 auto;}
.global_popup .modal-content{position:relative; animation:animatebottom .4s;}
@keyframes animatebottom{
	from{
		bottom: -50rem; opacity:0;	
	}
	to{
		bottom: 0; opacity:1;	
	}
}
.global_popup .modal-content .modal-header{padding:1.2rem 2.5rem; border:none; display:block; text-align:center;}
.global_popup .modal-content .modal-header h4{font-size:1.2rem; text-transform:uppercase; border-bottom:.1rem solid; font-weight:600; color:rgba(0,0,0,0.7); display:inline-block;}
.global_popup .modal-content .modal-header p{font-size:1rem; color:rgba(0,0,0,0.6); text-transform:capitalize; font-weight:300; display:inline-block; padding-top:1rem; margin:0 auto;}
.global_popup .modal-content .modal-body{max-height:22rem; overflow-y:auto; padding:1rem 1rem 0;}
.global_popup .modal-content .modal-body.product_listing{margin-top:0;}

.global_popup .modal-content .modal-footer{border:none; margin:0 auto; justify-content:center;}
.global_popup .modal-content .modal-footer .btn{font-size:1.3rem; text-transform:uppercase; height:auto; letter-spacing:.05rem; padding:0 4rem;}
.global_popup .modal-content .modal-footer.multiple_btn .btn{padding:0 2rem; font-size:1rem;}
/*********** end golabal popup css **************/

/************** start of product_detail_popup css ******************/
.product_popup{padding:1rem 1rem 2rem;}
.product_popup div[class*="col-"] h3{font-size:1rem; text-transform:uppercase; color:rgba(0,0,0,0.8); margin-bottom:1rem;}
.product_popup div[class*="col-"] h4{font-size:1.4rem; color:rgba(0,0,0,0.7); margin-bottom:1rem;}
.product_popup div[class*="col-"] h4 span{color: rgba(0, 0, 0, 0.5); font-size: 0.9rem; font-style:italic; font-weight: 300; letter-spacing: 0; text-decoration: line-through; text-align: left; display: inline-block; margin-top: -.05rem;}
.product_popup div[class*="col-"] .btn{margin:.5rem 0 2rem; font-size:1.1rem; text-transform:uppercase; padding:0 2rem; height:2.6rem;line-height: 2.2rem;}
/************ start of tabs css ************/
.product_popup div[class*="col-"] ul{border-width:.1rem 0; border-style:solid; border-color:#ccc;}
.product_popup div[class*="col-"] ul li{position:relative;}
.product_popup div[class*="col-"] ul li + li:before{content:"|"; position:absolute; left:-.2rem; top:.45rem; font-size:.9rem; color:#bbb;}
.product_popup div[class*="col-"] ul li a{font-size:.9rem; padding:.5rem .8rem; text-decoration:none; display:block; border:none; color:rgba(0,0,0,0.7); transition:ease all .5s; -webkit-transition:ease all .5s;}
.product_popup div[class*="col-"] ul li a.active, .product_popup div[class*="col-"] ul li a:hover{background:none; color:#3b4e76;}
.product_popup div[class*="col-"] .tab-content .card{border:none;}
.product_popup div[class*="col-"] .tab-content .card .card-body{padding:1.2rem 0;}
.product_popup div[class*="col-"] .tab-content .card .card-body p{font-size:.85rem;}
/************** end of product_detail_popup css ******************/

/************* start of Form Filed **************/
.form_filed form .form-group{position:relative; margin-bottom:1rem;}
.form_filed form .form-group:last-child{margin-bottom:0;}
.form_filed form .form-group .form-control{border:.01rem solid rgba(0,0,0,0.3); background: rgba(0,0,0,0.008); padding:.8rem; height:auto; border-radius:0; box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.08); font-size:.85rem; color:#28373f;}
.form_filed form .form-group .form-control:focus{border-color:#3b4e76;}
.form_filed form .form-group textarea{resize:none;}
.form_filed form .form-group.an_account{margin-top:1rem; padding-bottom:2rem;}
.form_filed form .form-group.an_account p{font-size:.9rem; font-weight:500; color:rgba(0,0,0,0.5); margin:0;}
.form_filed form .form-group.an_account p span,
.form_filed form .form-group.an_account p a{color:#3b4e76; font-weight:500; font-size:.95rem; cursor:pointer; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.form_filed form .form-group.an_account p span:hover,
.form_filed form .form-group.an_account p a:hover{color:#28373f;}
.form_filed form .form-group .btn{height:2.8rem; line-height:2.5rem; font-size:1rem;}
.form_filed form .form-group .btn.back-btn{background:none; color:rgba(0,0,0,0.7); font-size:1rem; font-weight:500;}
.form_filed .required_text{display:flex; align-items:center; justify-content:space-between; text-transform:uppercase; color:#3b4e76; padding:.5rem .8rem; margin-bottom:1rem; background:#f8f9fa;}
.form_filed .required_text span{color:#dc3545; font-size:.8rem; display:inline-block; text-transform:capitalize; letter-spacing:.01rem;}

/********** start of form_validate css ************/
.form_filed form.was-validated .form-group .form-control:valid{border-color:#28a745;}
.form_filed form.was-validated .form-group .form-control:invalid{border-color:#dc3545;}

/********** start of login_register page css ***********/
/***** login ********/
.login_register_popup form p{font-size:.9rem; color:rgba(0,0,0,0.6); text-transform:capitalize; font-weight:500; letter-spacing:.02rem; display:block; text-align:center; padding-top:1rem; margin:0 auto;}
.login_register_popup form .form-group p .resend_otp{color:#f03f3f; padding:0; border:0; background:none; cursor:pointer; font-size:1rem;}
.otpDiv{display:none;}
.global_popup .modal-content.login_register_popup .modal-header{padding:2.5rem 1.2rem 1.2rem}
.login_register_popup .modal-header .account_div{position:relative;}
.login_register_popup .modal-header .account_div .avatar{padding:.5rem; box-shadow:0 -1rem 1.2rem rgba(0, 0, 0, 0.25); border-radius:50%; position:absolute; top:-5.5rem; left:50%; transform:translateX(-50%); background:#fff; width:6rem; height:6rem; overflow:hidden; display:flex; align-items:center; justify-content:center;}
.login_register_popup .modal-header .account_div .avatar img{filter:opacity(.3); -webkit-filter:opacity(.3);}

/******** register **********/
.register_img, .registration_form{display:none;}
/********** end of login_register page css ***********/

/*************** radio global css ***************/
.radio_div .form-check {padding: 0;}
.radio_div .form-check .toggle {position: relative; cursor: pointer; color: rgba(0, 0, 0, 0.55); font-size: 0.95rem; text-transform: capitalize;}
.radio_div .form-check .toggle input[type="radio"] {position: absolute; right: 9000px;}
.radio_div .form-check .toggle input[type="radio"] + .label-text:before {content: "\f192"; font-family: "Font Awesome 5 Free"; speak-as: none; font-style: normal; font-weight: bolder; font-variant: normal; color: rgba(0, 0, 0, 0.2); text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; display: inline-block; margin-right: 0.8rem; font-size: 1.3rem; position: relative; top: .2rem; transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}
.radio_div .form-check .toggle .label-text{transition: ease all 0.3s; -webkit-transition: ease all 0.3s;}
.radio_div .form-check .toggle input[type="radio"]:checked + .label-text {color: #3b4e76;}
.radio_div .form-check .toggle input[type="radio"]:checked + .label-text:before {content: "\f058"; color: #3b4e76;}
.radio_div .form-check .toggle input[type="radio"]:disabled + .label-text {color: rgba(0, 0, 0, 0.2);}
.radio_div .form-check .toggle input[type="radio"]:disabled + .label-text:before {content: "\f192"; color: #fff;}
/* radio hover css */
.radio_div .form-check:hover .toggle .label-text{color: #3b4e76;}

/*********** startr of checkbox css *************/
/*.custom-control-label::before{top:0; left:-.5rem; z-index:1;}*/
.custom-checkbox .custom-control-label::before{border-radius:0;}
.custom-control-input:checked ~ .custom-control-label::before{background-color:#FF5151; border-color:#FF5151;}
.custom-control-input ~ .custom-control-label::before, .custom-control-input ~ .custom-control-label::after{top:-0.2rem; left:-.3rem; z-index:1;}

/*********** start of marqueeSection css *************/
.marqueeSection{position: fixed; width: 100%; left: 0; top: 0; font-size: .8rem; letter-spacing: .02rem; z-index: 10; background: #FF5151; color: #ffffff; font-weight: 500; padding: .1rem .2rem .3rem; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.marqueeSection small{padding: 0 .1rem;}
/****************** start of media css *******************/

/******** strip add header urgest ********/
.marqueeSection + .header-main{margin-top: 1.5rem;}

/******** start swiper common css *********/
.swiper-container {
  width: 100%; height: 100%; overflow: hidden;
}
/******** end swiper common css *********/


/*************** start of media css ***********************/

@media (min-width: 992px) and (max-width: 1200px) {
	/* start of header-top part */
	.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-name{font-size:.85rem;}
	.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-price{font-size:.95rem;}
	.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-quantity{font-size:0.8rem;}
}

@media (min-width: 768px) and (max-width: 991px) {
	/* start of nav_menu part */
	.nav-top ul.nav_menu li a.nav-link {padding:.6rem 1rem 0.5rem;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.content {padding-bottom: 40rem;}
	
	/* start of header-top part */
	.nav-top{min-height:6rem;}
	.nav-top a.navbar-brand img{width:6rem;}
	.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-name{font-size:.85rem;}
	.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-price{font-size:.95rem;}
	.nav-top ul.navbar-nav li.cart-menu .dropdown-menu .flex-grow-1 .item-quantity{font-size:0.8rem;}
	
	/* start of footer-bottom section */
	.footer_bottom h4 {font-size: .85rem;}
	.footer_bottom ul li a{font-size:.75rem;}
	
	/* start of nav_menu part */
	.nav-top ul.nav_menu li a.nav-link {font-size: .8rem;}
	
	/*********** start Form Filed css **************/
	.form_filed form .form-group.an_account p{font-size:.9rem;}
	.login_register_popup form p{font-size:.85rem; line-height:1.8;}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.content {padding-bottom: 40rem;}
	.container{max-width: 100%;}
  
	/* golabal popup css */
	.global_popup .modal-content .modal-body{max-height:12rem;}
}

@media (max-width: 767.98px) {
	.content {padding-bottom: 2rem;}
    .footer {position: relative;}
	
	/* start of header-top part */
	.nav-top {padding-left: 0.8rem; padding-right: 0.8rem; padding-top: 0.1rem; padding-bottom: 0.5rem; min-height:3rem; position: fixed; top: 0; left: 0; width: 100%; z-index: 999;}
	.nav-top a.navbar-brand {padding: .5rem; top:0; border-radius:50%; z-index:12;}
	.nav-top a.navbar-brand img{width:5rem;}
	.nav-top.navbar-light .navbar-toggler{color:rgba(0,0,0,.5); position:relative; top:.25rem; padding:0 0 1rem; border-color:transparent;}
	.nav-top.navbar-light .navbar-toggler.active{z-index:12;}
	.nav-top .navbar-collapse ul.navbar-nav {position: absolute; right: .5rem; top: .4rem; z-index: 13;}
	/*.nav-top .navbar-collapse ul.navbar-nav li + li:nth-child(2)::before {display: none;}
	.nav-top .navbar-collapse ul.navbar-nav li a.shopping-cart {position: fixed; bottom: 8rem; right: 0; background: #FF5151; color: #000; z-index: 101; top: auto; padding-left: 0.5rem; padding-right: 0.5rem; padding-top: 0.9rem; padding-bottom: 0.8rem; font-size: 0.8rem; border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; /*clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0 33%); -webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0 33%);}
	.nav-top .navbar-collapse ul.navbar-nav li a.shopping-cart .badge-primary {background-color: #3b4e76;}*/
	.nav-top .navbar-collapse ul.navbar-nav li.cart-menu .dropdown-menu {position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 9999; margin: 0; }
	.nav-top .navbar-collapse ul.navbar-nav li.cart-menu .dropdown-menu .cart_close {position: fixed; bottom: 0; right: 0; font-size: 1.5rem; color: #fff; letter-spacing: 0.01rem; line-height: 1rem; background: #000000; cursor: pointer; padding-left: 0.8rem; padding-right: 0.8rem; padding-top: 0.6rem; padding-bottom: 0.6rem;}
	.nav-top .navbar-collapse ul.navbar-nav li.cart-menu .dropdown-menu::before {display: none;}
	.nav-top .navbar-collapse ul.navbar-nav li a.nav-link.sticky-top-affix + .dropdown-menu {top: 0;}
	.nav-top .navbar-collapse ul.navbar-nav .dropdown-menu {position: absolute;}
	.nav-top ul.navbar-nav li.user-menu .dropdown-menu a.dropdown-item{font-size:0.8rem;}
	.overflowBg{position: fixed; top: 2.8rem; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); display: none; transition: ease all .3s; -webkit-transition: ease all .3s;}
	.overflowBg[aria-expanded="false"]{opacity: 0; z-index: -1;}
	.overflowBg[aria-expanded="true"]{opacity: 1; z-index: 5;}
	.nav-top ul.navbar-nav li a.nav-link.sticky-top-affix{position: sticky; background: transparent; padding: .5rem 1rem;}
	/* end of header-top part */
	
	/* start of nav_menu part */
	.nav-top ul.nav_menu{flex-direction:row; justify-content:left;}
	.nav-top .navbar-collapse .navbar-collapse{position: fixed; width: calc(100% - 8rem); height: calc(100% - 3rem); left: -100%; top: 3rem; background: #1E2D4D; z-index: 11; box-shadow: 0 0 .5rem rgba(0,0,0,0.1); transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
	.nav-top .navbar-collapse .navbar-collapse.show{left: 0;}
	.nav-top .navbar-collapse ul.nav_menu{position:relative; top:auto; right:auto; height: 100%; padding: 2.5rem 0 6rem; flex-direction:column; border-top: 1px solid #92B4EC;}
	.nav-top ul.nav_menu li{padding: 0 1.9rem; position: relative;}
	.nav-top ul.nav_menu li:not(:last-child){border-bottom: 1px solid #92B4EC;}
	.nav-top ul.nav_menu li a.nav-link{padding: 1.6rem 0; font-size: 1.1rem; font-weight: 300; text-transform: uppercase; color:#ffffff;}
	.nav-top ul.nav_menu li.shopNwBtn{position: absolute; bottom: 0; left: 0; width: 100%; padding: 0; border-bottom: none;}
	.nav-top ul.nav_menu li.shopNwBtn a.nav-link.my-btn{background: #FF5151; text-align: center; font-weight: 600; color: #ffffff; padding: 1.1rem 0; height: auto;}
	.nav-top ul.nav_menu li.profilePicSec{display: block; border: 0;}
	.nav-top ul.nav_menu li.profilePicSec a{display: flex; flex-direction: column; padding: 0 0 2rem 0; color: #92B4EC;}
	.nav-top ul.nav_menu li + li::before{top:.45rem; display: none;}
	
	/******************** start of menu_toggle button ******************/
	.toggle-btn {height: 2px; width: 25px; background-color:#ffffff; position: relative; top: 50%; left: 0; margin: auto; display:inline-block; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
	.toggle-btn:before {content: ""; height: 2px; width: 25px; box-shadow: 0 -10px 0 0 #ffffff; position: absolute; top: 0; left: 0; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
	.toggle-btn:after {content: ""; height: 2px; width: 25px; box-shadow: 0 10px 0 0 #ffffff; position: absolute; top: 0; left: 0; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
	.active .toggle-btn {background-color: transparent; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;}
	.active .toggle-btn:before {top: 0; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
	.active .toggle-btn:after {top: 0; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
	.active .type1:before {left: 6px; transform: translateY(6px) rotate(-45deg);}
	.active .type1:after {top: 0; left: 6px; transform: translateY(-8px) rotate(45deg);}
	
	/* start of footer-top section */
	.footer_top .row {justify-content: center;}
	.footer_top .row ul {margin-bottom: 0.8rem;}
	.footer_top .row form .input-group {padding-left: 1rem; padding-right: 1rem;}
	.footer_top .row form .input-group .news_text {padding-right:0; padding-bottom:.5rem; width:100%; text-align:center;}
	
	/* start of footer-bottom section */
	.footer_bottom .row .col-md:not(:nth-child(4)) {margin-bottom: 2rem;}
	.footer_bottom .row h4 {text-align: center; text-decoration: underline;}
	.footer_bottom .row .mobile_footer h4 {margin-bottom: 0.8rem;}
	.footer_bottom .row .mobile_footer ul {display: block; flex-wrap: wrap;}
	.footer_bottom .row .mobile_footer ul li {float: left; width: 33.3333333333%; position: relative; padding-right: 0.8rem; text-align: center;}
	.footer_bottom .row .mobile_footer ul li:not(:nth-child(3n+3))::after {content: "|"; position: absolute; right: .5rem; top: .3rem; font-size: 0.7rem; font-weight: 300;}
	.footer_bottom .row .mobile_footer ul li:last-child::after {display: none;}
	.footer_bottom .disclaimer_text p{font-size:0.7rem;}
	
	/* start of scroll top css */
	.return-to-top {bottom: 2.5rem; right: 0; border-radius: 0; width: 2.5rem; height: 2.5rem;}
	.return-to-top i {top: .6rem;}
	.return-to-top:hover i {top: .2rem;}
	
	/* start of heading css */
	.heading_div{padding:1rem 0.8rem;}
	.heading_div h1, .heading_div h3{font-size:.9rem; letter-spacing:.08rem;}
	.heading_div h1 span, .heading_div h3 span{font-size:1.5rem; letter-spacing:.05rem;}
	.heading_div .heading_border{width:4rem;}
	
	/* golabal popup css */
	.global_popup .modal-content .modal-body{max-height:30rem;}
	.global_popup .modal-content .modal-header h4{font-size:1rem;}
	.global_popup .modal-content .modal-footer .btn{font-size:1rem;}
	
	/**************** start of product_detail_popup css *****************/
	.product_popup div[class*="col-"]{padding:0;}
	.product_popup div[class*="col-"] h3{font-size:1rem; letter-spacing:.05rem; margin-top:1rem;}
	/**************** end of product_detail_popup css *****************/
	
	/*********** start Form Filed css **************/
	.form_filed .required_text{font-size:.85rem;}
	.form_filed .required_text span{font-size:.75rem;}
}

@media (max-width: 575.98px) {
	/* start of footer-bottom section */
	.footer_bottom .cards_detail {justify-content: center; text-align: center;}
	.footer_bottom .cards_detail div:not(:last-child) {margin-bottom: 1rem;}
	.footer_bottom .cards_detail ul li {width: 3rem;} 
	.footer_bottom .disclaimer_text p:last-child{margin-bottom:3rem;}
}