
/* start subscription_pack css */
.subscription_pack{padding:0; margin-top:3rem;}
.subscription_pack .pack_image{display:block; position:relative; border:0.01rem solid rgba(0,0,0,0.1); border-radius:.5rem; cursor:all-scroll;}
.subscription_pack .pack_image:not(:last-child){margin-right:2rem;}
.subscription_pack .pack_image + .pack_image:before{content:"+"; font-size:2rem; color:rgba(0,0,0,0.7); display:block; position:absolute; top:50%; transform:translateY(-50%); left:-1.5rem; cursor:default;}
.subscription_pack .pack_image img{border-radius:.5rem; width:20rem;}
.subscription_pack .pack_image .img_btn{position:absolute; bottom:-1.7rem; left:0; width:100%; text-align:center; z-index:1;}
.subscription_pack .pack_image .img_btn .btn{background:#ffffff; color:rgba(0,0,0,0.7); border-radius:50%; border:0.01rem solid rgba(0,0,0,0.1); width:3.5rem; height:3.5rem; line-height:3rem; padding:0; font-size:1.2rem; overflow:hidden; transition:ease all .5s; -webkit-transition:ease all .5s;}
.subscription_pack .pack_image .img_btn .btn:hover{background:#ed1b62; color:#ffffff;}
.subscription_pack .pack_image .img_btn .btn:not(:last-child){margin-right:1rem;}

/* start of subscription_monthly_pack css */
.subscription_monthly_pack{margin-top:5rem; padding:0; border:.1rem solid #fcd603;}
.subscription_monthly_pack .package_heading{text-align:center;}
.subscription_monthly_pack .package_heading p{font-size:1.2rem; text-transform:uppercase; padding:.3rem 1rem; background:#fcd603; display:inline-block; color:rgba(0,0,0,0.8); margin-bottom:1rem;}
.subscription_monthly_pack .monthly_pack_image{text-align:center;}
.subscription_monthly_pack .monthly_pack_image h5{font-size:.8rem; text-transform:capitalize; color:rgba(0,0,0,0.5); letter-spacing:.05rem; margin:0; padding-top:1.2rem;}
.subscription_monthly_pack .monthly_pack_image span{position:relative; cursor:all-scroll;}
.subscription_monthly_pack .monthly_pack_image span img{border:0.01rem solid rgba(0,0,0,0.1);}
.subscription_monthly_pack .monthly_pack_image span .img_btn{position:absolute; bottom:-.8rem; left:0; width:100%; text-align:center; z-index:1;}
.subscription_monthly_pack .monthly_pack_image span .img_btn .btn{background:#ffffff; color:rgba(0,0,0,0.7); border-radius:50%; border:0.01rem solid rgba(0,0,0,0.1); width:2rem; height:2rem; line-height:1.9rem; padding:0; font-size:.9rem; overflow:hidden; transition:ease all .5s; -webkit-transition:ease all .5s;}
.subscription_monthly_pack .monthly_pack_image span .img_btn .btn:hover{background:#ed1b62; color:#ffffff;}
.subscription_monthly_pack .monthly_pack_image span .img_btn .btn:not(:last-child){margin-right:.8rem;}
.subscription_monthly_pack .monthly_pack_title{text-align:center; margin:0; background-color:#ed1b62;}
.subscription_monthly_pack .monthly_pack_title h5{font-size:1.5rem; color:#ffffff; font-weight:bolder; text-transform:uppercase; margin:0;}

/* start of product_detail_popup css */
.product_popup{padding:1rem 1rem 2rem;}
.product_popup div[class*="col-"] h3{font-size:1.2rem; text-transform:uppercase; color:rgba(0,0,0,0.8); margin-bottom:1rem;}
.product_popup div[class*="col-"] h4{font-size:1.4rem; color:rgba(0,0,0,0.8); margin-bottom:1rem;}
.product_popup div[class*="col-"] .btn{margin:.5rem 0 2rem; font-size:1.1rem; text-transform:uppercase; padding:0 2rem; height:2.6rem;line-height: 2.6rem;}
/************ start of tabs css ************/
.product_popup div[class*="col-"] ul{border-width:.1rem 0; border-style:solid; border-color:#ccc;}
.product_popup div[class*="col-"] ul li{position:relative;}
.product_popup div[class*="col-"] ul li + li:before{content:"|"; position:absolute; left:-.2rem; top:.45rem; font-size:.9rem; color:#bbb;}
.product_popup div[class*="col-"] ul li a{font-size:.9rem; padding:.5rem .8rem; text-decoration:none; display:block; border:none; color:rgba(0,0,0,0.7); transition:ease all .5s; -webkit-transition:ease all .5s;}
.product_popup div[class*="col-"] ul li a.active, .product_popup div[class*="col-"] ul li a:hover{background:none; color:#ed1b62;}
.product_popup div[class*="col-"] .tab-content .card{border:none;}
.product_popup div[class*="col-"] .tab-content .card .card-body{padding:1.2rem 0;}
.product_popup div[class*="col-"] .tab-content .card .card-body p{font-size:.9rem;}

/* start of select_product_popup css */
.gender_popup .modal-header{padding:1.2rem; border:none; display:block; text-align:center;}
.gender_popup .modal-header h4{font-size:1.7rem; text-transform:uppercase; text-decoration:underline; font-weight:300; color:#ed1b62;}
.gender_popup .modal-header p{font-size:1.2rem; color:rgba(0,0,0,0.6); text-transform:capitalize; font-weight:300; display:inline-block; padding-top:1rem; margin:0 auto;}
.gender_popup .modal-footer{border:none; margin:0 auto;}
.gender_popup .modal-footer .btn{font-size:1.6rem; text-transform:uppercase; line-height:1.7; height:auto; letter-spacing:.05rem; padding:0 2rem;}
.gender_popup .modal-body{display:flex; align-items:center; justify-content:center; padding:2rem 1rem; flex-wrap:wrap;}
.gender_popup .modal-body .form-check{padding:0;}
.gender_popup .modal-body .form-check .toggle{margin:0; cursor:pointer; position:relative; text-align:center;}
.gender_popup .modal-body .form-check .toggle input[type="radio"]{position: absolute; right: 9000px;}
.gender_popup .modal-body .form-check .toggle input[type="radio"] + .label-text:before{content: ""; font-family: "Font Awesome 5 Free"; font-size:2rem; speak: none; font-style: normal; font-weight: 900; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing:antialiased; width: 1.5rem; height:1.5rem; border:0.01rem solid rgba(0,0,0,0.1); border-radius:50%; display: inline-block; margin-right: 10px; position:absolute; left:0; top:0;}
.gender_popup .modal-body .form-check .toggle input[type="radio"]:checked + .label-text:before{content: "\f058"; color: #ed1b62; animation: effect 250ms ease-in; border:none;}
@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}
.gender_popup .modal-body .form-check .toggle span{border:0.01rem solid rgba(0,0,0,0.1); border-radius:50%; display:inline-block; transition:ease all .5s; -webkit-transition:ease all .5s;}
.gender_popup .modal-body .form-check .toggle span img{width:10rem;}
.gender_popup .modal-body .form-check .toggle p{padding:.4rem 0 0; color:rgba(0,0,0,0.7); margin:0;}
.gender_popup .modal-body .form-check:not(:last-child){padding:0 1rem 0 0;}
/* hover css */
.gender_popup .modal-body .form-check .toggle:hover span, .gender_popup .modal-body .form-check .toggle:hover input[type="radio"] + .label-text:before{border-color:#ed1b62;}


@media (max-width: 767.98px) {
	/* start subscription_pack css */
	.subscription_pack{margin-top:1rem;}
	.subscription_pack .pack_image{border-radius:0.2rem;}
	.subscription_pack .pack_image + .pack_image::before{font-size:1rem; left:-0.8rem;}
	.subscription_pack .pack_image:not(:last-child){margin-right:1rem;}
	.subscription_pack .pack_image .img_btn{bottom:-1rem;}
	.subscription_pack .pack_image .img_btn .btn{width:1.6rem; height:1.6rem; line-height:1.5rem; font-size:0.8rem;}
	.subscription_pack .pack_image .img_btn .btn:not(:last-child){margin-right:.5rem;}
	
	/* start of subscription_monthly_pack css */
	.subscription_monthly_pack .w-50{width:100% !important;}
	.subscription_monthly_pack .package_heading p{font-size:1rem;}
	.subscription_monthly_pack .monthly_pack_title h5{font-size:1.2rem;}
	.subscription_monthly_pack .monthly_pack_image span .img_btn .btn{width:1.6rem; height:1.6rem; line-height:1.5rem; font-size:.7rem;}
	.subscription_monthly_pack .monthly_pack_image span .img_btn .btn:not(:last-child){margin-right:.2rem;}
	.subscription_monthly_pack .monthly_pack_image h5{font-size:.75rem;}
	
	/* start of product_detail_popup css */
	.product_popup div[class*="col-"]{padding:0;}
	.product_popup div[class*="col-"] h3{font-size:1rem; letter-spacing:.05rem; margin-top:1rem;}
	
	/* start of select_product_popup css */
	.gender_popup .modal-body .form-check .toggle input[type="radio"] + .label-text:before{left:-0.5rem;}
	.gender_popup .modal-body .form-check .toggle span img{width:8rem;}
	.gender_popup .modal-body .form-check:not(:last-child){padding:0 1rem 1.5rem 0;}
}