html, body{margin: 0px; padding: 0px; height:100%; /*font-family: 'Titillium-Regular';*/ color:rgba(0, 0, 0, 0.7);}

.wrapper {min-height:100%;position:relative; padding-top:0.01%;}
.header{}
.content{padding-bottom:540px; padding-top:20px; padding-left:0; padding-right:0;} /* Height of the footer element */
.footer{width:100%; height:auto; position:absolute; bottom:0;}

.selfie_generic_div{padding-bottom:80px; padding-top:30px;}
.selfie_generic_div:last-child{padding-bottom:0;}

/* start of image-detail css */
.detail_heading{padding:0px 0 10px; margin:0; color:rgba(0,0,0,0.7);}
.detail_heading span.product_name{font-size:18px; color:rgba(0,0,0,0.8); text-transform:uppercase; display:inline-block; padding:0 0px 5px 0;}
.detail_size{font-size:14px; color:rgba(0,0,0,0.6); padding:0 0 5px 0; display:block; font-weight:300;}
.detail_size span, .brand_name span{background:#df5745; color:#fff; border-radius:4px; font-size:10px; text-transform:uppercase; padding:3px 5px 3px; display:inline-block; letter-spacing:1px; margin-left:5px; font-weight:500;}
.detail_rating{padding:0 0 0 10px; display:inline-block;}
.detail_rating .starrr{display:inline-block;}
.detail_rating span{display:inline-block; color:#28373f;}
.brand_name{font-size:15px; color:rgba(0,0,0,0.6); display:block; text-transform:uppercase; font-weight:300;}
.brand_flag{display:inline-block; padding-left:5px;}
.brand_flag img{width:18px; margin-top:-2px;}
.detail_price{margin:0; padding:10px 0 15px;}
.detail_price p.detail_mrp{color:rgba(0,0,0,0.7); font-size:16px; padding:0 0 2px 0; line-height:20px;}
.detail_price .lSSlideOuter{padding:0; width:100%;}
.detail_price p.detail_mrp span i{font-size:18px;}
.detail_price p.detail_mrp del{padding-left:5px; font-size:14px;}
.detail_price p.selfie_content{color:rgba(0,0,0,0.6); font-size:12px; line-height:20px; padding:0; text-align:justify;}
/* start of male_female css */
.male_female_div{position:absolute; top:10px; left:0; z-index:9; display:inline-block; padding:4px; background:#fff;}
.male_female_div img{width:25px; opacity:.5;}
.detail_button .btn{display:inline-block;}
.detail_button .btn-div-cart, .detail_button .btn-div-buy{font-size:12px; height:35px; line-height:35px; margin-right:10px;}
/* start of image_slider css */
div[id*='carousel-'] a.left{background-image:none; opacity:1; text-shadow:none; color:rgba(0,0,0,0.5); left:-10px; z-index:2;}
div[id*='carousel-'] a.right{background-image:none; opacity:1; text-shadow:none; color:rgba(0,0,0,0.5); right:-10px; z-index:2;}
div[id*='carousel-'] a span{top:50%; font-size:24px; transform:translateY(-50%);}
.image_slider_div{bottom:-45px;}
.image_slider_div li{background:#ccc; border:none;}
.image_slider_div li.active{background:#38b8bf;}
/* start of enlarge_slider */
.enlarge_popup{margin:12px 0;}
.enlarge_popup li{padding:0; width:14.28%; float:left;}
.enlarge_popup li .btn{background:none; padding:0; box-shadow:0 0 4px rgba(0,0,0,0.15); border-radius:0; display:block; width:100%;}
.enlarge_popup_slider{background:#fff;}
.male_female_1{left:30px;}
.brand_name .slider_flag{padding:0; background:none;}

/* start of contains_list css */
.contains_list{padding:8px 0 0; margin:5px 0 0 0;}
.contains_list li{font-size:14px; color:rgba(0,0,0,0.8); font-weight:300; padding:0 0 15px 15px; position:relative;}
.contains_list li:last-child{padding-bottom:0;}
.contains_list li:before{content:"-"; position:absolute; left:0; top:7px; color:rgba(0,0,0,0.4); font-size:25px; line-height:0;}



/* start of out_of_stock css */
.detail_image_div{position:relative; overflow:hidden;}
.out_stock{position:absolute; top:0; left:0; height:100%; width:100%; background:rgba(256,256,256,0.6); z-index:1; text-align:center;}
.out_stock span{position:relative; top:50%; font-size:28px; display:block; color:rgba(0,0,0,0.4); border-width:1px 0; border-style:solid; border-color:rgba(0,0,0,0.4); display:inline-block; text-transform:uppercase; transform:rotate(-7deg); -moz-transform:rotate(-7deg); -ms-transform:rotate(-7deg); -o-transform:rotate(-7deg); -webkit-transform:rotate(-7deg);}

/* start of brand slider css*/
.touch_slider{margin:0 auto; text-align:center;}
.touch_slider .ca-icon{position:relative;}
.touch_slider .ca-icon .out_stock{cursor:pointer;}
.touch_slider .ca-icon .out_stock span{font-size:15px;}
.brand_slider{margin-bottom:15px; padding:0;}
.brand_slider .item .thumb_div{margin-bottom:0; width:100%; box-shadow:0 0 12px rgba(0,0,0,0.1); border:1px solid transparent; float:left;}
.brand_slider .item .thumb_div a img{width:150px; display:none;}
.brand_slider .item .thumb_div a img:first-child{display:block;}
.brand_slider .item .thumb_div .ca-content .ca-main{padding:0;}
.brand_slider .item .thumb_div .ca-content .ca-main a{font-size:12px;}
.brand_slider p{text-align:center; margin-bottom:10px;}
.brand_slider p span{font-size:14px; color:rgba(0,0,0,0.7); background:rgba(0,0,0,0.1); font-weight:500; padding:4px 10px; display:inline-block; text-transform:uppercase;}
.brand_slider ul.brand_list{text-align:center; margin:15px 0px 20px; border-bottom:1px solid rgba(0,0,0,0.1);}
.brand_slider ul.brand_list li{padding:0; margin-left:-4px; position:relative;}
.brand_slider ul.brand_list li a{font-size:14px; color:#fff; background:rgba(0,0,0,0.9); font-weight:500; padding:8px 35px; display:inline-block; text-transform:uppercase; text-decoration:none; font-weight:500; transition:ease all 0.5s; -moz-transition:ease all 0.5s; -ms-transition:ease all 0.5s; -o-transition:ease all 0.5s; -webkit-transition:ease all 0.5s;}
.brand_slider ul.brand_list li a:before{content:"\f0d7"; font-family: FontAwesome; font-style:normal; font-weight:normal; color:rgba(0,0,0,0.9); font-size:35px; position:absolute; left:50%; transform:translateX(-50%); bottom:-27px; opacity:0; transition:ease all 0.5s; -moz-transition:ease all 0.5s; -ms-transition:ease all 0.5s; -o-transition:ease all 0.5s; -webkit-transition:ease all 0.5s;}
.brand_slider ul.brand_list li:hover a:before{opacity:1;}
.brand_slider ul.brand_list li.active a:before{content:"\f0d7"; font-family: FontAwesome; font-style:normal; font-weight:normal; color:#38b8bf; font-size:35px; position:absolute; left:50%; transform:translateX(-50%); bottom:-27px; opacity:1;}
.brand_slider ul.brand_list li.active a{background:#38b8bf; cursor:none;}
.brand_slider ul.lSPager{display:none;}
.brand_slider .item .thumb_div span.ca-icon a{display:block; border:2px solid transparent;}
.brand_slider .item .thumb_div.active{border:1px solid #38b8bf; box-shadow:0 0 1px #38b8bf;}
.brand_slider .item .thumb_div.active .ca-content h2 a{color:#38b8bf;}

.del_price{padding-bottom:0 !important;}

/* start of top_part css */
.filter_btn{padding:0px 15px;}
.filter_left{float:left; width:100%; position:relative; border-bottom:1px solid rgba(0,0,0,0.1); padding:10px 0; transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s; -webkit-transition:all ease 0.5s;}

/* start of gender_button css */
.gender_div{padding:0px 5px 0; text-align:left;}
.combo_div{text-align:right;}
.gender_div h3{font-size:14px; margin:0; font-weight:bold; color:rgba(0,0,0,0.7); text-transform:uppercase; position:relative; padding:3px 25px 0 0; display:inline-block; float:left;}
.gender_div h3 span{font-size:12px; display:block; font-weight:400; text-transform:none; padding-top:3px;}
.gender_div ul{display:inline-block; background:#fff; border-radius:2px; float:right; box-shadow:0 0px 10px rgba(0,0,0,0.15);}
.gender_div ul li{padding:0; position:relative; display:inline-block;}
.gender_div ul li a{border:none; display:block; width:auto; line-height:35px; padding:0 10px; margin-right:0; color:rgba(0,0,0,0.8); border-radius:0; position:relative; background:none; transition:all ease 0.5s; -webkit-transition:all ease 0.5s; -moz-transition:all ease 0.5s; -ms-transition:all ease 0.5s; -o-transition:all ease 0.5s;}
.gender_div ul li + li:before{content:"|"; position:absolute; top:6px; left:-3px; font-weight:300; color:rgba(0,0,0,0.2); font-size:14px;}
.gender_div ul li.active:before{content:""; position:absolute; background:#28373f; width:100%; height:100%; border-radius:0; top:0; left:0; box-shadow:none;}
.gender_div ul li + li.active:before{content:""; position:absolute; background:#28373f; width:100%; height:100%; border-radius:0; top:0; left:auto; right:0;}
.gender_div ul li.active a{color:#fff;}
.gender_div ul li.active + li:before{display:none;}

.affix .gender_div ul{float:left;}

/* start of review_form */
.review_form .form-group label{font-weight:500;}
.review_form .form-group .form-control{border-radius:0px;}
.review_form .form-group textarea{resize:none;}
.review_form .form-group .form-control:focus{box-shadow:none; border:1px solid #333333;}

/* start of customer_review */
.review_box{border-radius:0px; padding:15px 10px; margin-bottom:20px; box-shadow:0 0 10px rgba(0,0,0,0.1); display:flex; align-items:center; justify-content:center;}
.review_top{padding:15px; border-right:1px solid #ddd;}
.review_top h4{color:#28373f; font-size:14px; margin:0; padding:0 0 12px;}
.review_top h5{color:rgba(0,0,0,0.5); padding:0 0 10px; margin:0; font-size:12px;}
.review_top h6{color:rgba(0,0,0,0.5); margin:0; font-size:12px; position:relative; padding-left:20px; line-height:16px;}
.review_top h6 i{position:absolute; left:0; top:2px; font-size:14px;}
.review_top h4 .starrr{display:block; padding-top:4px;}
.review_bottom{padding:15px;}
.review_bottom p{color:rgba(0,0,0,0.5); font-size:12px; line-height:20px; text-align:justify; margin:0;}

/* start of kit_package css */
.kit_package{padding:10px 0 20px;}
.kit_package p{padding:0 0 10px 0; color:rgba(0,0,0,0.7); font-size:16px; line-height:20px;}
.kit_package .kit_box:nth-child(2){padding:0 10px 0 0;}
.kit_package .kit_box:nth-child(3){padding:0 5px;}
.kit_package .kit_box:nth-child(4){padding:0 0 0 10px;}
.kit_package .kit_box p{border:1px solid #e6e6e6; padding:0px 10px 0px 70px; margin:0; color:#28373f; font-weight:500; font-size:13px; position:relative; height:50px; line-height:50px; cursor:pointer; letter-spacing:1px; transition:ease all 0.5s; -moz-transition:ease all 0.5s; -ms-transition:ease all 0.5s; -o-transition:ease all 0.5s; -webkit-transition:ease all 0.5s;}
.kit_package .kit_box p img{position:absolute; left:15px; top:50%; transform:translateY(-50%); width:40px;}
.kit_package .kit_box p:hover{border-color:#38b8bf;}
.kit_package .kit_box p.active{border-color:#38b8bf;}

/* start of sticky div css */
.affix{top:0; left:0; width:calc(100% - 56px); background:#fff; box-shadow:0 2px 12px rgba(0,0,0,0.2); z-index:99; animation:slide-down 0.7s;}
.affix .filter_left{border-bottom:0px; width:1170px; margin:0 auto; float:none; display:table;}
@keyframes slide-down{
	0%{
		opacity:0;
		transform:translateY(-100%);	
	}
	100%{
		opacity:1;
		transform:translateY(0);	
	}
}

/* start of contains slider */
.contains_slider h1{padding:0 25px;}
.detail_price .lSSlideWrapper{overflow:hidden;}

/* start of media css */
@media (min-width:768px) and (max-width:991px) {
	.content{padding-bottom:540px; padding-left:0; padding-right:0;}
	.brand_logo ul li{padding:0 15px;}
	.brand_logo ul li img{width:60px;}
}

@media (min-width:992px) and (max-width:1200px) {
	.brand_logo ul li{padding:0 15px;}
}

@media (max-width:767px){
	.footer{position:relative;}
	.content{padding-bottom:20px; padding-top:20px;}
	
	/* start of image-detail css */
	.detail_heading, .detail_button{text-align:center; padding:0 32px 10px 32px;}
	.xs_detail_price{margin-top:35px;}
	.enlarge_popup li{padding:0;}
	.enlarge_popup li .btn{box-shadow:0 0 4px rgba(0,0,0,0.15); border-radius:0;}
	.selfie_generic_div{padding-bottom:30px; padding-top:10px;}
	.detail_price p.detail_mrp{font-size:16px; color:rgba(0,0,0,0.8);}
	.detail_button .btn{padding:0 40px;}
	
	/* start of top_part css */
	.filter_btn{padding:0px;}
	.filter_left{padding:0px 15px 10px;}
	
	/* start of brand slider css*/
	.brand_slider{margin-bottom:0;}
	.brand_slider .item .thumb_div a img{width:100%;}
	.brand_slider .item .thumb_div.ca-content .ca-main a{font-size:11px;}
	.brand_slider ul.lSPager{display:block; margin:0;}
	.brand_slider .lSAction{display:none !important;}
	.touch_slider .ca-icon .out_stock span{font-size:10px;}
	.brand_slider ul.brand_list{margin:20px 0px 10px;}
	.brand_slider ul.brand_list li a{font-size:12px; padding:6px 25px;}	
	/* start of image_slider css */
	div[id*="carousel-"] a{display:none;}
	div.Enlarge_images[id*="carousel-"] a{display:inline-block;}
	.contains_slider h1 span.product_name{font-size:14px; line-height:20px;}
	
	.review_main_div div[class*="no-padding-"]{padding:0 15px;}
	/* start of customer_review */
	.review_box{padding:15px 0px; display:block;}
	.review_heading h3{margin-bottom:10px;}
	.review_top{padding:0px 10px 20px; border-right:0; border-bottom:1px solid #ddd;}
	.review_top .col-xs-2 span{height:40px; width:40px; line-height:40px;}
	.review_bottom{padding:15px 10px 0;}
	.customer_reviews_div{margin-top:20px;}
	
	/* start of kit_package css */
	.kit_package p{color:rgba(0,0,0,0.8);}
	.kit_package .kit_box:nth-child(2){padding:0 5px 0 0;}
	.kit_package .kit_box:nth-child(3){padding:0 0 0 5px;}
	.kit_package .kit_box:nth-child(4){padding:0 5px 0 0; margin-top:8px;}
	.kit_package .kit_box p{padding:0px 10px 0px 45px; font-size:12px; height:40px; line-height:40px;}
	.kit_package .kit_box p img{left:6px; width:30px;}
	
	/* start of sticky div css */
	.affix{width:100%;}
	.affix .filter_left{padding-top:10px; width:100%;}
	.affix .gender_div ul{float:right;}
	
	/* gender css */
	.gender_div{padding:0;}
	.gender_div h3{font-size:12px; padding:6px 25px 0 0;}
	.gender_div h3 span{font-size:10px;}
	.gender_div ul{background:#000000; box-shadow:0 0px 10px rgba(0,0,0,0.3);}
	.gender_div ul li a{color:rgba(256,256,256,0.8); font-size:12px;}
	.gender_div ul li a:hover{color:rgba(256,256,256,0.6);}
	.gender_div ul li + li::before{color:rgba(256,256,256,0.6);}
	.gender_div ul li.active::before, .gender_div ul li + li.active::before{background:#fff;}
	.gender_div ul li.active a{color:#000000;}
}