html, body{margin: 0px; padding: 0px; height:100%; /*font-family: 'Titillium-Regular';*/ color:rgba(0, 0, 0, 0.7);}

.wrapper {min-height:100%;position:relative; padding-top:0.01%;}
.header{}
.content{padding-bottom:540px; padding-top:20px; padding-left:0; padding-right:0;} /* Height of the footer element */
.footer{width:100%; height:auto; position:absolute; bottom:0;}

/* start of content_padding css */
.static_banner{padding-top:0;}
/* end of content_padding css */

/* start of category_heading css */
.category_heading{margin:60px 0 30px;}

/* start of category_images css */
.category_div{margin-bottom:10px !important; padding:10px 30px !important;}

/* start of media css */
@media (min-width:768px) and (max-width:991px) {
	.content{padding-bottom:540px; padding-left:0; padding-right:0;}
}

@media (min-width:992px) and (max-width:1200px) {
	
}

@media (max-width:767px){
	.footer{position:relative;}
	.content{padding-bottom:20px; padding-top:20px;}
	
	.static_banner{padding-top:0;}
	
	/* start of category_heading css */
	.category_heading{margin:50px 0 0px;}

	/* start of category_images css */
	.category_div{margin-bottom:10px !important; padding:0 !important;}
}