    <section class="container-fluid content static_banner"><!-- start of middle_part -->
    	<div class="col-xs-12 no-padding"><!-- start of banner_image -->
        	<img src="assets/images/static_pics/prive_member.jpg" alt="Prive Member" class="img-responsive">
        </div>
        
        <div class="container">
            <div class="row"><!-- start of row -->
                
                <div class="col-sm-12 col-xs-12 main_heading margin-md-top"><!-- start of heading_part -->
                    <h3>
                        <span>
                            Be A Privé Member
                            <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                        </span>
                    </h3>
                    <p>
                        Get Promotional Cash &amp; Rewards
                    </p>
                </div><!-- end of heading_part -->
                
                <div class="col-sm-12 col-xs-12"><!-- start of content -->
                	<p class="col-sm-12 col-xs-12 no-padding margin-md-top">
                        PerfumersClub Privé membership gives you undeterred access to the world of perfume. Get special privileges, points and members’ only discounts by becoming a member.
                    </p>
                    
                    <h4 class="col-sm-12 col-xs-12 no-padding">
                    	<b>As a PerfumersClub Privé member, you can enjoy privileges like :-</b>
                    </h4>
                    
                    <ol class="registerUs_list col-sm-12 col-xs-12">
                    	<li>
                        	Free Shipping for entire year
                        </li>
                    	<li>
                        	Get 10% point back on every purchase
                        </li>
                    	<li>
                        	Exclusive members only discounts just for you
                        </li>
                    </ol>
                    
                    <p class="col-sm-12 col-xs-12 no-padding text-center margin-md-top">
                        <a [routerLink]="['/customer/registration']" class="btn from-left cart_btn">
                            Register Now
                        </a>
                    </p>
                </div><!-- end of contact_detail -->
            
			</div><!-- end of row -->
        </div>
    </section><!-- end of middle_part -->