/* start of footer-top section */
.debit_credit_cards { max-width: 93%; height: auto;}
@media (min-width: 768px) and (max-width: 991px) {
	/* start of footer-bottom section */
	.footer_bottom h4 {font-size: .85rem;}
	.footer_bottom ul li a{font-size:.75rem;}
}
@media (max-width: 767.98px) {
	.content {padding-bottom: 2rem;}
    .footer {position: relative;}
	/* start of footer-top section */
	.footer_top .row {justify-content: center;}
	.footer_top .row ul {margin-bottom: 0.8rem;}
	.footer_top .row form .input-group {padding-left: 1rem; padding-right: 1rem;}
	.footer_top .row form .input-group .news_text {padding-right:0; padding-bottom:.5rem; width:100%; text-align:center;}
	
	/* start of footer-bottom section */
	.footer_bottom .row .col-md:not(:nth-child(4)) {margin-bottom: 2rem;}
	.footer_bottom .row h4 {text-align: center; text-decoration: underline;}
	.footer_bottom .row .mobile_footer h4 {margin-bottom: 0.8rem;}
	.footer_bottom .row .mobile_footer ul {display: block; flex-wrap: wrap;}
	.footer_bottom .row .mobile_footer ul li {float: left; width: 33.3333333333%; position: relative; padding-right: 0.8rem; text-align: center;}
	.footer_bottom .row .mobile_footer ul li:not(:nth-child(3n+3))::after {content: "|"; position: absolute; right: .5rem; top: .3rem; font-size: 0.7rem; font-weight: 300;}
	.footer_bottom .row .mobile_footer ul li:last-child::after {display: none;}
}

@media (max-width: 575.98px) {
	/* start of footer-bottom section */
	.footer_bottom .cards_detail {justify-content: center; text-align: center;}
	.footer_bottom .cards_detail div:not(:last-child) {margin-bottom: 1rem;}
	.footer_bottom .cards_detail ul li {width: 3rem;} 
}