    <section class="container-fluid content static_banner"><!-- start of middle_part -->
    	<div class="col-xs-12 no-padding"><!-- start of banner_image -->
        	<img src="assets/images/testimonial/testimonial_img.jpg" alt="Prive Member" class="img-responsive">
        </div>
        
        <div class="container">
            <div class="row"><!-- start of row -->
                
                <div class="col-sm-12 col-xs-12 main_heading margin-md-top xs-no-padding"><!-- start of heading_part -->
                    <h3>
                        <span>
                            Testimonials
                            <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                        </span>
                    </h3>
                    <p>
                        What Our customers say about US
                    </p>
                </div><!-- end of heading_part -->
                
                <div class="col-sm-12 col-xs-12"><!-- start of content -->
                    <div class="col-sm-12 col-xs-12 testi_row"><!-- start of column -->
                    	<div class="col-md-2 col-sm-3 col-xs-12 no-padding-left xs-no-padding"><!-- start of right_column -->
                        	<p>
                            	<span>
                            		<img src="assets/images/testimonial/juhi-dutta.jpg" alt="Juhi Dutta" class="img-responsive img-circle">
                                </span>
                            </p>
                            <h5>
                            	Juhi Dutta
                            </h5>
                        </div><!-- end of right_column -->
                        
                    	<div class="col-md-10 col-sm-9 col-xs-12 no-padding-right xs-no-padding"><!-- start of left_column -->
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	My set of Perfumer's Club. The 7 fragnances are just awesome to enlighten my every 7 days, just like a sunshine, just like Rainbow. ThnQ Perfumer's Club for the lovely collection.
                            </p>
                            <h5 class="col-sm-6 col-xs-12 no-padding">
                            	Kolkata, West Bangal
                            </h5>
                            <h6 class="col-sm-6 col-xs-12 no-padding">
                            	Sep. 16, 2017
                            </h6>
                        </div><!-- end of left_column -->
                    </div><!-- end of column -->
                    
                    <div class="col-sm-12 col-xs-12 testi_row"><!-- start of column -->
                    	<div class="col-md-2 col-sm-3 col-xs-12 col-md-push-10 col-sm-push-9 col-xs-push-0 no-padding-right xs-no-padding"><!-- start of right_column -->
                        	<p>
                            	<span>
                            		<img src="assets/images/testimonial/reet-kaur.jpg" alt="Reet Kaur" class="img-responsive img-circle">
                                </span>
                            </p>
                            <h5>
                            	Reet Kaur
                            </h5>
                        </div><!-- end of right_column -->
                        
                    	<div class="col-md-10 col-sm-9 col-xs-12 col-md-pull-2 col-sm-pull-3 col-xs-pull-0 no-padding-left xs-no-padding"><!-- start of left_column -->
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	The flowery <i class="fa fa-leaf" aria-hidden="true"></i> fragrance are aswm all the perfume sticks diffrt fragrance nd best in own..... i feel like im in heaven <i class="fa fa-smile-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i>. Fll in love wid this. I wanna try all more fragrance in ur booth <i class="fa fa-smile-o" aria-hidden="true"></i>.
                            </p>
                            <h5 class="col-sm-6 col-xs-12 no-padding">
                            	Ambala, Haryana
                            </h5>
                            <h6 class="col-sm-6 col-xs-12 no-padding">
                            	Sep. 25, 2017
                            </h6>
                        </div><!-- end of left_column -->
                    </div><!-- end of column -->
                    
                    <div class="col-sm-12 col-xs-12 testi_row"><!-- start of column -->
                    	<div class="col-md-2 col-sm-3 col-xs-12 no-padding-left xs-no-padding"><!-- start of right_column -->
                        	<p>
                            	<span>
                            		<img src="assets/images/testimonial/namrata-khatod.jpg" alt="Namrata Khatod" class="img-responsive img-circle">
                                </span>
                            </p>
                            <h5>
                            	Namrata Khatod
                            </h5>
                        </div><!-- end of right_column -->
                        
                    	<div class="col-md-10 col-sm-9 col-xs-12 no-padding-right xs-no-padding"><!-- start of left_column -->
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	I just love the perfumes of this collection, mostly the Lomani one! It smells amazing ! I wish to try more perfumes from Perfumer's Club.
                            </p>
                            <h5 class="col-sm-6 col-xs-12 no-padding">
                            	India
                            </h5>
                            <h6 class="col-sm-6 col-xs-12 no-padding">
                            	Sep. 29, 2017
                            </h6>
                        </div><!-- end of left_column -->
                    </div><!-- end of column -->
                    
                    <div class="col-sm-12 col-xs-12 testi_row"><!-- start of column -->
                    	<div class="col-md-2 col-sm-3 col-xs-12 col-md-push-10 col-sm-push-9 col-xs-push-0 no-padding-right xs-no-padding"><!-- start of right_column -->
                        	<p>
                            	<span>
                            		<img src="assets/images/testimonial/prekshya-dixit.jpg" alt="Prekshya Dixit" class="img-responsive img-circle">
                                </span>
                            </p>
                            <h5>
                            	Prekshya Dixit
                            </h5>
                        </div><!-- end of right_column -->
                        
                    	<div class="col-md-10 col-sm-9 col-xs-12 col-md-pull-2 col-sm-pull-3 col-xs-pull-0 no-padding-left xs-no-padding"><!-- start of left_column -->
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	This perfume <i class="fa fa-smile-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i> I cannot resist myself from keeping it away from me <i class="fa fa-smile-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i>. The fragnance of this perfume has made my day <i class="fa fa-heart" aria-hidden="true"></i>.<br>
                                Thankyou Perfumer's Club. <i class="fa fa-smile-o" aria-hidden="true"></i>
                            </p>
                            <h5 class="col-sm-6 col-xs-12 no-padding">
                            	Bareilly, UP
                            </h5>
                            <h6 class="col-sm-6 col-xs-12 no-padding">
                            	Sep. 30, 2017
                            </h6>
                        </div><!-- end of left_column -->
                    </div><!-- end of column -->
                    
                    <div class="col-sm-12 col-xs-12 testi_row"><!-- start of column -->
                    	<div class="col-md-2 col-sm-3 col-xs-12 no-padding-left xs-no-padding"><!-- start of right_column -->
                        	<p>
                            	<span>
                            		<img src="assets/images/testimonial/creonice-barbosa.jpg" alt="Creonice Barbosa" class="img-responsive img-circle">
                                </span>
                            </p>
                            <h5>
                            	Creonice Barbosa
                            </h5>
                        </div><!-- end of right_column -->
                        
                    	<div class="col-md-10 col-sm-9 col-xs-12 no-padding-right xs-no-padding"><!-- start of left_column -->
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	can't over-emphasize how important an exquisite perfume is, to be wrapped and cradled in an enchanting scent upon your skin is a magic all on its own! I think that the love affair created by a good perfume between you and other people, you and nature, you and yourself, it is all too beautiful a thing! Perfumer's Club thank you for providing an amazing range of perfumes and hosting this giveway!
                            </p>
                            <h5 class="col-sm-6 col-xs-12 no-padding">
                            	Maputo, Mozambique
                            </h5>
                            <h6 class="col-sm-6 col-xs-12 no-padding">
                            	Oct. 10, 2017
                            </h6>
                        </div><!-- end of left_column -->
                    </div><!-- end of column -->
                    
                    <div class="col-sm-12 col-xs-12 testi_row"><!-- start of column -->
                    	<div class="col-md-2 col-sm-3 col-xs-12 col-md-push-10 col-sm-push-9 col-xs-push-0 no-padding-right xs-no-padding"><!-- start of right_column -->
                        	<p>
                            	<span>
                            		<img src="assets/images/testimonial/som-nath.jpg" alt="Som Nath" class="img-responsive img-circle">
                                </span>
                            </p>
                            <h5>
                            	Som Nath
                            </h5>
                        </div><!-- end of right_column -->
                        
                    	<div class="col-md-10 col-sm-9 col-xs-12 col-md-pull-2 col-sm-pull-3 col-xs-pull-0 no-padding-left xs-no-padding"><!-- start of left_column -->
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	I believe that 'you are never fully dressed without perfume' !!! For me perfume is one of the most important part in my dressing.
                            </p>
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	Thanks to my friend Jui for suggesting me the beautiful collection of perfumes from Perfumer's Club. I have got the WYLD pack and it's just awesome.
                            </p>
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	&quot;Big things come in small packages" so friends please try this and I'm sure you will love it.
                            </p>
                            <h5 class="col-sm-6 col-xs-12 no-padding">
                            	Kolkata, West Bangal
                            </h5>
                            <h6 class="col-sm-6 col-xs-12 no-padding">
                            	Oct. 17, 2017
                            </h6>
                        </div><!-- end of left_column -->
                    </div><!-- end of column -->
                    
                    <div class="col-sm-12 col-xs-12 testi_row"><!-- start of column -->
                    	<div class="col-md-2 col-sm-3 col-xs-12 no-padding-left xs-no-padding"><!-- start of right_column -->
                        	<p>
                            	<span>
                            		<img src="assets/images/testimonial/aniket-shivhare.jpg" alt="Aniket Shivhare" class="img-responsive img-circle">
                                </span>
                            </p>
                            <h5>
                            	Aniket Shivhare
                            </h5>
                        </div><!-- end of right_column -->
                        
                    	<div class="col-md-10 col-sm-9 col-xs-12 no-padding-right xs-no-padding"><!-- start of left_column -->
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	The one I wear now a days....masculine notes... perfect one for me... unfortunately the one I like the most is out of stock... can I get a reply on this as when I can expect this stock to be up again.
                            </p>
                            <h5 class="col-sm-6 col-xs-12 no-padding">
                            	Pune, Maharashtra
                            </h5>
                            <h6 class="col-sm-6 col-xs-12 no-padding">
                            	Oct. 26, 2017
                            </h6>
                        </div><!-- end of left_column -->
                    </div><!-- end of column -->
                    
                    <div class="col-sm-12 col-xs-12 testi_row"><!-- start of column -->
                    	<div class="col-md-2 col-sm-3 col-xs-12 col-md-push-10 col-sm-push-9 col-xs-push-0 no-padding-right xs-no-padding"><!-- start of right_column -->
                        	<p>
                            	<span>
                            		<img src="assets/images/testimonial/harjeet-singh.jpg" alt="Harjeet Singh" class="img-responsive img-circle">
                                </span>
                            </p>
                            <h5>
                            	Harjeet Singh
                            </h5>
                        </div><!-- end of right_column -->
                        
                    	<div class="col-md-10 col-sm-9 col-xs-12 col-md-pull-2 col-sm-pull-3 col-xs-pull-0 no-padding-left xs-no-padding"><!-- start of left_column -->
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	Wonder of Wonder the Seven Magical Fragrance in One Perfume Selfie Box .I love all the Seven Fragrance,s but Lomani Essential and Active Men are the best of those .Every Day I feel Aromatic with the Different Fragrance.
                            </p>
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	Collection. Of Seven Perfumes are Unbelievable but Active Men is the Jewel in the Crown. Thanks Perfumer's Club for Giving us the Choice to Pick up Best Fragrance after try the PerfumeSelfie.Really a Nice Collection of Seven Unimaginable Fragrance.
                            </p>
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	Looking Forward to See some More Fragrance in Your Collection.
                            </p>
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	Thanks Perfumer's Club.
                            </p>
                            <h5 class="col-sm-6 col-xs-12 no-padding">
                            	Delhi
                            </h5>
                            <h6 class="col-sm-6 col-xs-12 no-padding">
                            	Nov. 05, 2017
                            </h6>
                        </div><!-- end of left_column -->
                    </div><!-- end of column -->
                    
                    <div class="col-sm-12 col-xs-12 testi_row"><!-- start of column -->
                    	<div class="col-md-2 col-sm-3 col-xs-12 no-padding-left xs-no-padding"><!-- start of right_column -->
                        	<p>
                            	<span>
                            		<img src="assets/images/testimonial/somal-kaur.jpg" alt="Somal Kaur" class="img-responsive img-circle">
                                </span>
                            </p>
                            <h5>
                            	Somal Kaur
                            </h5>
                        </div><!-- end of right_column -->
                        
                    	<div class="col-md-10 col-sm-9 col-xs-12 no-padding-right xs-no-padding"><!-- start of left_column -->
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	What a smart way to smell awesome all day long with Perfume Selfie holder which has provided so much ease esply for gals when we carry different bags everyday. The bottles r so easy to keep in. Ordered this product without wasting even a min.
                            </p>
                            <p class="col-sm-12 col-xs-12 no-padding">
                            	Perfume•Selfie@TeaZe#Amazingg#frangrances#love•for•pefumes#truly°deepl°madly#happy♡customer Thank yu Perfumer's Club for this great product. Loved all the 7 fragrances. <i class="fa fa-heart" aria-hidden="true"></i>
                            </p>
                            <h5 class="col-sm-6 col-xs-12 no-padding">
                            	Ludhiana, Punjab
                            </h5>
                            <h6 class="col-sm-6 col-xs-12 no-padding">
                            	Nov. 15, 2017
                            </h6>
                        </div><!-- end of left_column -->
                    </div><!-- end of column -->
                </div><!-- end of contact_detail -->
                
            </div><!-- end of row -->
        </div>
    </section><!-- end of middle_part -->
    