<div class="col-xs-12 margin-xlg-top no-padding"><!-- start of related_product -->
	<div class="col-sm-12 col-xs-12 main_heading xs-no-padding"><!-- start of heading_part -->
		<h3>
			<span>
				Related Products
				<img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
			</span>
		</h3>
		<p>
			Now carry a brand even inside your pockets
		</p>
	</div><!-- end of heading_part -->
	
	<div class="col-sm-12 col-xs-12 no-padding brand_slider"><!-- start of slider -->
		<div class="content-slider ca-menu touch_slider row-flex row-flex-wrap"><!-- start of slider -->
	
		<div class="col-xs-12 no-padding">
			<div *ngFor="let item of result;" class="item col-xs-12">
				<div class="thumb_div">
						<div *ngIf="item.tagLine != '';" class="corner_label"><!-- start of corner_label -->
							<img [src] = "( item.tagClass == '' ) ? 'assets/images/product_label/best_seller.svg' : 'assets/images/product_label/' + item.tagClass + '.svg'" />
						</div><!-- end of corner_label -->                                        <p class="product_image"><!-- start of product_image -->
						<a (click)="gotoProduct(item.urlKey);" style="cursor:pointer">
							<img [src]="((item.images.url !== undefined) && (item.images.url !== '')) ? item.images.url:'assets/images/is-base.jpg'" [alt]="item.name | titlecase" [title]="item.name | titlecase" class="img-responsive center-block" />
							<span *ngIf="item.isStock == 'coming_soon'" class="out_stock"><span>Coming Soon</span></span>
							<span *ngIf="item.isStock == 'out_of_stock'" class="out_stock"><span>Out of Stock</span></span>
						</a>
					</p><!-- end of product_image -->
					
					<div class="product_content"><!-- start of product_content -->
						<h2 class="rproduct_name"><!-- start of product_name -->
							<a  (click)="gotoProduct(item.urlKey);" style="cursor:pointer">{{item.name}}</a>
						</h2><!-- end of product_name -->
						
						<h2 class="rproduct_name"><!-- start of product_size -->
							<span>{{item.size}} {{item.sizeUnit | uppercase }}</span>
						</h2><!-- end of product_size -->
						
						<div class="btn_price"><!-- start of btn_price -->
							<div *ngIf="item.isStock == 'in_stock'" class="btn from-right add-to-cart">
								<span *ngIf="!item.isCart" (click)="addCart(item.id);" class="product_cart_text">Add</span>
								<span *ngIf="item.isCart" (click)="goToCart();" class="product_cart_text">Go to Cart</span>
								<span *ngIf="item.isCart" (click)="goToCart();" class="product_price">
									<del *ngIf="item.offerPrice > item.price"><i class="fa fa-rupee"></i>{{item.offerPrice}}</del>
									<i class="fa fa-rupee"></i>{{item.price}}
								</span>
								<span *ngIf="!item.isCart" class="product_price">
									<del *ngIf="item.offerPrice > item.price"><i class="fa fa-rupee"></i>{{item.offerPrice}}</del>
									<i class="fa fa-rupee"></i>{{item.price}}
								</span>
							</div>
							<button *ngIf="item.isStock == 'coming_soon' || item.isStock == 'out_of_stock'" type="button" class="btn from-right add-to-cart" (click)="notifyMePopup(item.id);" data-target="#NotifyMe" data-toggle="modal">
								<span class="product_cart_text">Notify Me!</span>
								<span class="product_price">
									<del *ngIf="item.offerPrice > item.price"><i class="fa fa-rupee"></i>{{item.offerPrice}}</del>
									<i class="fa fa-rupee"></i>{{item.price}}
								</span>
							</button>
						</div><!-- start of btn_price -->
						
						<div *ngIf="item.sold > 0" class="sold_product">
							<span><b>{{item.sold}}</b> Sold</span>
						</div>
					</div><!-- end of product_content -->
				</div>
			</div>
			  <button *ngIf="result.length > 3" class="leftRs"><i class="fa fa-angle-left"></i></button>
			  <button *ngIf="result.length > 3" class="rightRs"><i class="fa fa-angle-right"></i></button>
		</div>
											
		</div><!-- end of slider -->
	</div><!-- end of slider -->
</div><!-- end of related_product -->
