                        <h3 class="user_detail_heading"><!-- start of user_detail_heading -->
                        	Overview Description
                        </h3><!-- end of user_detail_heading -->
                        
                        <div class="row mt-5"><!-- start of detail_row -->
                        	
                            <div class="col-md-4 col-sm-6 col-12 mb-4"><!-- start of col_div -->
								<a routerLink="orders">
									<div class="user_detail_box"><!-- start of user_detail_box -->
										<figure>
											<img src="assets/images/user_profile/order.svg" class="img-fluid" alt="Order" width="50">
										</figure>
										<p>Orders</p>
										<span>Check your orders status</span>
									</div><!-- end of user_detail_box -->
								</a>
                            </div><!-- end of col_div -->
                        	
                            <div class="col-md-4 col-sm-6 col-12 mb-4"><!-- start of col_div -->
								<a routerLink="address-book">
									<div class="user_detail_box"><!-- start of user_detail_box -->
										<figure>
											<img src="assets/images/user_profile/address.svg" class="img-fluid" alt="Address" width="50">
										</figure>
										<p>Address</p>
										<span>Save addresses for a hassle-free checkout</span>
									</div><!-- end of user_detail_box -->
								</a>
                            </div><!-- end of col_div -->
                        	
                            <div class="col-md-4 col-sm-6 col-12 mb-4"><!-- start of col_div -->
								<a routerLink="profile">
									<div class="user_detail_box"><!-- start of user_detail_box -->
										<figure>
											<img src="assets/images/user_profile/profile.svg" class="img-fluid" alt="Profile" width="50">
										</figure>
										<p>Profile</p>
										<span>Change your profile details &amp; password</span>
									</div><!-- end of user_detail_box -->
								</a>
                            </div><!-- end of col_div -->
                        	
                            <div class="col-md-4 col-sm-6 col-12 mb-4"><!-- start of col_div -->
								<a routerLink="wallet">
									<div class="user_detail_box"><!-- start of user_detail_box -->
										<figure>
											<img src="assets/images/user_profile/wallet.svg" class="img-fluid" alt="Wallet" width="50">
										</figure>
										<p>Wallet</p>
										<span>Manage all your money</span>
									</div><!-- end of user_detail_box -->
								</a>
                            </div><!-- end of col_div -->
                        	
                            <div class="col-md-4 col-sm-6 col-12 mb-4"><!-- start of col_div -->
								<a routerLink="reviews">
									<div class="user_detail_box"><!-- start of user_detail_box -->
										<figure>
											<img src="assets/images/user_profile/review.svg" class="img-fluid" alt="Review" width="50">
										</figure>
										<p>Review</p>
										<span>Your review details</span>
									</div><!-- end of user_detail_box -->
								</a>
                            </div><!-- end of col_div -->
                        	
                            <div class="col-md-4 col-sm-6 col-12 mb-4"><!-- start of col_div -->
								<a routerLink="newsletter">
									<div class="user_detail_box"><!-- start of user_detail_box -->
										<figure>
											<img src="assets/images/user_profile/newsletter.svg" class="img-fluid" alt="Newsletter" width="50">
										</figure>
										<p>Newsletter</p>
										<span>To get more informations</span>
									</div><!-- end of user_detail_box -->
								</a>
                            </div><!-- end of col_div -->
                            
                        </div><!-- end of detail_row -->
