    <section class="container-fluid content"><!-- start of middle_part -->
        <div class="container">
            <div class="row"><!-- start of row -->
                
                <div class="col-sm-12 col-xs-12 main_heading margin-md-top"><!-- start of heading_part -->
                    <h3>
                        <span>
                            Disclaimers
                            <img src="assets/images/heading_img.png" class="img-responsive" alt="Square">
                        </span>
                    </h3>
                    <p>
                        What our users say about us
                    </p>
                </div><!-- end of heading_part -->
                
                <div class="col-sm-12 col-xs-12 text-justify"><!-- start of content -->
                	<p class="col-sm-12 col-xs-12 no-padding margin-md-top">
                        Our Site and databases are deployed on third-party hosting providers that are also protected by network and security monitoring systems that notify the Company of occurrences that might represent security issues. We have no control over the nature, content and availability of other sites. In no event will we be liable for any loss or damage whatsoever arising from loss of data or profits arising out of the use of this website.
                    </p>
                    
                	<p class="col-sm-12 col-xs-12 no-padding">
                        The information contained in this website is for general information purposes only. The information is provided by www.perfumebooth.com and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk. 
                    </p>
                    
                	<p class="col-sm-12 col-xs-12 no-padding">
                        Through this website, you may be taken to other websites, which are not under the control of <a href="https://www.perfumebooth.com/" target="_blank">www.perfumebooth.com</a> on clicking links to third party websites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
                    </p>
                    
                	<p class="col-sm-12 col-xs-12 no-padding">
                        Every effort is made to keep the website up and running smoothly. However, <a href="https://www.perfumebooth.com/" target="_blank">www.perfumebooth.com</a> takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
                    </p>
                    
                	<p class="col-sm-12 col-xs-12 no-padding">
                        We do not warrant that the functions provided by the website will be uninterrupted or error free, or that the website or the server that makes it available are free from viruses or other harmful components.
                    </p>
                </div><!-- end of contact_detail -->
                
            </div><!-- end of row -->
        </div>
    </section><!-- end of middle_part -->
