	<div class="content"><!-- start of middle_page -->
    	
        <section class="container-fluid section_box section_gradient pattern_image mt-n3"><!-- start of section_box -->
        	<div class="container"><!-- start of container -->
            	<div class="row align-items-center"><!-- start of row -->
                	
                    <div class="col-12 heading_div"><!-- start of heading_div -->
                    	<h1>
                        	<span>FAQ</span> Everything you want to know about Perfumer's Club
                        </h1>
                        <span class="heading_border"></span>
                    </div><!-- end of heading_div -->
                    
                    <div class="col-12 staticPage_content"><!-- start of content_part -->
                            
                        <div class="accordion w-100 d-block position-relative" id="faqExample"><!-- start of question_ans -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Perfumer’s ClubPerfumer’s Club :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0" data-toggle="collapse" data-target="#aboutOne" aria-expanded="true">
                                            Q: Why is it called the Perfumer’s Club?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="aboutOne" class="collapse show" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> A Club for perfume lovers, who enjoy using perfumes and understand that our fragrances are 6 times better than Deodrants. You can have the same quality as premium expensive ones while being easy on the pocket.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#aboutTwo" aria-expanded="false">
                                        	Q: What is so special about the Perfumes?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="aboutTwo" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> The perfumes are made with the best quality ingredients ensuring longer fragrance lasting and consistent notes throughout the day.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#aboutThree" aria-expanded="false">
                                        	Q. What is the concentration of the Perfumes?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="aboutThree" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> All our perfumes are made with 18% perfume concentration to ensure the fragrances have the strength as any other prestige perfumes that sell for over Rs. 3000.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                    	<h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#aboutFour" aria-expanded="false">
                                        	Q. If it is so good quality, how is it cheap?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="aboutFour" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Whereas most premium brands charge not just for the perfumes but also for the branding, brand licensing, advertising, sales promotion, discounting, distribution, wholesaling, sales representatives, displays, huge manpower, and huge margins, we aim at selling directly to the customer saving on distribution cost and branding expenses.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Pack of 3 :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#packOne" aria-expanded="false">
                                            Q: What’s the Pack of 3 Perfumes?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="packOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> It&rsquo;s a gift pack consisting of 3 different 50ml perfumes.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#packTwo" aria-expanded="false">
                                        	Q: Can I choose the variants I require on this pack of 3?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="packTwo" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Yes, you can.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Refer &amp; Earn :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#referEarnOne" aria-expanded="false">
                                            Q: What's the Refer and Earn Programme?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="referEarnOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> The refer and earn program enables a person to share his referral code or referral link with his friends, family and known ones. If the person purchases using the code/link, the customer will receive a free gift and the person using the code will get a discount.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#referEarnTwo" aria-expanded="false">
                                        	Q: What's the reward for the person who refers?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="referEarnTwo" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> A 50ml Perfumer’s Club Perfume.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#referEarnThree" aria-expanded="false">
                                        	Q: What does the person who use the referral code get?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="referEarnThree" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> He will receive Rs. 100 discount on using the code.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#referEarnFour" aria-expanded="false">
                                        	Q: In how much time, can I redeem the reward points?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="referEarnFour" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Once you win a 50ml perfume, you can redeem and order the perfume within 3 months of winning it.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#referEarnFive" aria-expanded="false">
                                        	Q: Can I choose any variant I desire?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="referEarnFive" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Yes, you can.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#referEarnSix" aria-expanded="false">
                                        	Q: Is there any additional fee I need to pay to redeem my reward?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="referEarnSix" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> You may have to pay a shipping fee of Rs. 50 per order. You may add as many perfumes you like in this order.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#referEarnSeven" aria-expanded="false">
                                        	Q: How can I share my code?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="referEarnSeven" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> You may go to your user panel after logging in and get your referral code and link from there. You may share it on your social media pages, WhatsApp, emails or simply SMS your friends.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Scent Matcher :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#scentMatchOne" aria-expanded="false">
                                            Q: What's the Scent Matcher?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="scentMatchOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> The Scent Matcher is an algorithm developed by our team that matches and compares the notes of premium perfumes against our perfumes and suggests which is the most similar perfume available with us, according to your likings.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#scentMatchTwo" aria-expanded="false">
                                        	Q: How accurate is it?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="scentMatchTwo" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> We have tried our algorithm against multiple products and have found it to be quite accurate in terms of providing fragrances from similar families and notes.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#scentMatchThree" aria-expanded="false">
                                        	Q: What if I do not as the perfume suggested to me by the scent matcher?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="scentMatchThree" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> We have developed the Scent Matcher with a view to providing affordable alternatives to the premium ones but the algorithm can merely suggest the alternatives based on the notes and family, so there is no guarantee that you will like it and neither are we claiming that the match is the exact same fragrance. So, all we can do is hope that you like it.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Shipping Charges :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#shippingOne" aria-expanded="false">
                                            Q: Shipping Charges?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="shippingOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> We charge a standard shipping fee of Rs. 50 Shipping on every order. You can add as many products as you wish in this order.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>COD Charges :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#CODOne" aria-expanded="false">
                                            Q: COD Charges?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="CODOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> There is an additional charge of Rs. 20 on every COD order.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>How to use Perfumes :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#usePerfumeOne" aria-expanded="false">
                                            Q: How can I properly apply perfumes?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="usePerfumeOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Read the brochure in the box for all the details.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#usePerfumeTwo" aria-expanded="false">
                                            Q: How many times should I spray the perfume?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="usePerfumeTwo" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> About 6-8 sprays at one time are good enough. The key to wearing perfume is that the more sublime it is, the classier it feels. Do not overspray.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#usePerfumeThree" aria-expanded="false">
                                            Q: What are the parts I should spray at?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="usePerfumeThree" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Perfumes should be sprayed only on the pulse point. Please click here to know more.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#usePerfumeFour" aria-expanded="false">
                                            Q: Do perfumes last for only 2-3 hours?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="usePerfumeFour" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Perfumes last longer when you are in a closed environment, preferably air-conditioned. When you sweat a lot, the perfumes will not last that long.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#usePerfumeFive" aria-expanded="false">
                                            Q: Does every perfume smells different on different people?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="usePerfumeFive" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Everybody has their own smell. So, obviously, perfumes will smell differently on different people. Even if you use the same fragrance, the scent will differ. It’s very important to find the right perfume for your body matching the pheromones.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#usePerfumeSix" aria-expanded="false">
                                            Q: Why should you change perfume frequently?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="usePerfumeSix" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Your nose gets used to/immune to the same smell if you use the same perfume every day. You should keep changing perfumes but have a favorite one that becomes synonymous with your identity.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#usePerfumeSeven" aria-expanded="false">
                                            Q: Why should you change perfume frequently?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="usePerfumeSeven" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<ul>
                                            	<li>Don’t keep the perfume under the sun.</li>
                                            	<li>Never overspray perfumes.</li>
                                            	<li>Keep changing perfumes.</li>
                                            	<li>Carry your perfume in your pocket/purse to reapply whenever needed.</li>
                                            </ul>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Perfume vs. Deodorant :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#perfumeVSdeoOne" aria-expanded="false">
                                            Q: What is the difference between a deodorant and perfume?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="perfumeVSdeoOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Deodorants are primarily used to cover body odor, whereas perfumes are used to give long-lasting fragrance.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#perfumeVSdeoTwo" aria-expanded="false">
                                        	Q: What is the type of perfumes?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="perfumeVSdeoTwo" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Colognes have upto 8% concentration, EDTs upto 12%, EDPs upto 18% concentration.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#perfumeVSdeoThree" aria-expanded="false">
                                        	Q: On what basis does the perfume last longer?
                                        </h5>
                                    </div><!-- end of question_heading -->
                                    
                                    <div id="perfumeVSdeoThree" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Perfumes last longer primarily because of the quality of fragrance used. The more natural ingredients the more it lasts. Additionally, some fragrances having musk, wood, etc will naturally last longer as it is in their nature, whereas light fragrances such as citrus, aquatic last for a shorter period. Along with this, the concentration of perfume oil or fragrance essence in perfume spray can have an impact on the lasting.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Rating :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#ratingOne" aria-expanded="false">
                                            Q: Why should I rate or give feedback on the website?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="ratingOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Rating and feedback enable other users to get a view on what other consumers such as you perceive about the product. This will help them in making a better decision regarding purchase.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Billing :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#billingOne" aria-expanded="false">
                                            Q: What are the different forms of payment?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="billingOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> We try to make your purchase experience convenient by offering varied payment options. Debit cards, credit card, net banking, cash cards, mobile wallets, and COD options are available with us for your convenience.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#billingTwo" aria-expanded="false">
                                            Q: Is COD available?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="billingTwo" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Yes, the COD option is available. There is an additional charge of Rs. 20 on every COD order.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Shipping :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#ShipOne" aria-expanded="false">
                                            Q: Can I track my order?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="ShipOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Yes, the option to track the order is available. Once your order is dispatched, you will receive an SMS with the name of the courier company and the AWB number. You may track your order from the company website using this number.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                    
                            <div class="FAQSection_div"><!-- start of FAQSectionRow_div -->
                                <h4>Returns &amp; refunds :-</h4>
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#returnRefundOne" aria-expanded="false">
                                            Q: What is the return policy?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="returnRefundOne" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> Products once purchased cannot be returned unless they are received in a damaged condition.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#returnRefundTwo" aria-expanded="false">
                                            Q: Do you offer refunds?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="returnRefundTwo" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> As we do not take back returns, we do not offer refunds. If your product is received in a damaged condition, we will send you a replacement.
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                                <div class="card"><!-- start of question_row -->
                                    <div class="card-header p-0"><!-- start of question_heading -->
                                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#returnRefundThree" aria-expanded="false">
                                            Q: What do I do if I receive the product as damaged?
                                        </h5>
                                    </div><!-- end of question_heading -->
                
                                    <div id="returnRefundThree" class="collapse" data-parent="#faqExample"><!-- start of ans_content -->
                                        <div class="card-body">
                                        	<p>
                                            	<b>Answer:</b> If the products are received as damaged, please mail us a picture of the product along with the courier box and details at <a href="mailto:connect@perfumersclub.com">connect@perfumersclub.com</a>
                                            </p>
                                        </div>
                                    </div><!-- end of ans_content -->
                                </div><!-- end of question_row -->
                                
                            </div><!-- end of FAQSectionRow_div -->
                        
                        </div><!-- end of question_ans -->
                        
                    </div><!-- end of content_part -->
                    
                </div><!-- end of row -->
            </div><!-- end of container -->
        </section><!-- end of section_box -->
    
    </div><!-- end of middle_page -->
