
/********* start of shopNowBanner css ******/
.shopNowBanner{position: relative;}
.shopNowBanner:before{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(59,78,118,.6), rgba(26,33,49,1));}
.shopNowBanner figure{margin: 0; z-index: 1;}
.shopNowBanner figure .figure-caption{position: absolute; top: 50%; left: 0; transform: translate(0, -50%); width: 100%; padding: 0 16px; z-index: 2; font-size: 1.5rem; color: #92B4EC; text-transform: uppercase; text-align: center;}
.shopNowBanner figure .figure-caption span{font-size: 1.8rem; color: #ffffff; text-transform: capitalize; display: block;}

/* start of section_box css */
.section_box{padding:3rem 0; position:relative; z-index:2}
.section_gradient:before{content:""; position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1;
	background:linear-gradient(#fcfcfc, #fbfbfb, #ffffff);
	-moz-background:linear-gradient(#fcfcfc, #fbfbfb, #ffffff);
	-webkit-background:linear-gradient(#fcfcfc, #fbfbfb, #ffffff);
	-o-background:linear-gradient(#fcfcfc, #fbfbfb, #ffffff);}
.pattern_image:after{background-image:url(./../../../../assets/images/home/pattern.svg); background-repeat:repeat; content:""; position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1;}

/* filterLinks */
.filterLinks{display: flex; align-items: center; justify-content: center; margin: 0;}
.filterLinks li{position: relative;}
.filterLinks li:not(:last-child){margin-right: .5rem;}
.filterLinks li a{font-size: .9rem; color: #ffffff; background: #3b4e76; text-transform: uppercase; display: flex; align-items: center; justify-content: center; padding: 0; width: 7rem; height: 2.3rem; text-align: center; border: .13rem solid #FF5151;}
.filterLinks li a:before{content: ""; position: absolute; bottom: -8px; left: 50%; transform: translateX(-50%); width: 0; height: 0; background: transparent; opacity: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #3b4e76;}
.filterLinks li.active a{font-weight: bold; color: #FF5151;}
.filterLinks li.active a:before{opacity: 1;}

/* productItems */
.productItems{margin-top: 2.5rem;}
.productItems .card{display: flex; flex-direction: column; box-shadow: none; padding: 0; border: 0; margin-bottom: 1rem;}
.productItems .card figure{background: transparent; padding: 0; border-radius: 0; margin: 0; position: relative; overflow: hidden; cursor: pointer;}
.productItems .card figure .figure-caption{position: absolute; bottom: 1rem; left: 1rem; font-size: .8rem; background: transparent; border-radius: .6rem; padding: 0; color: #ffffff; line-height: 1;}
.productItems .card figure .figure-caption i{font-size: .8rem; margin-right: .3rem;}
.productItems .card .card-body{padding: 1rem 0; display: flex; flex-wrap: wrap;}
.productItems .card .card-body > *{margin: 0;}
.productItems .card .card-body > *:not(:last-child){padding-right: 15px;}
.productItems .card .card-body .card-title{font-size:1rem; color: #000000; font-weight: 600; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; flex: 1;}
.productItems .card .card-body .card-title span{display: block; width: 100%; font-size:.75rem; color: #000000; font-weight: 400; margin-top: .15rem; text-transform: uppercase; font-family: 'Work Sans', sans-serif;}
.productItems .card .card-body .card-text{font-size: .9rem; color: #1E2D4D; display: flex; flex-direction: column; align-items: flex-end; padding: 0;}
.productItems .card .card-body .card-text del{font-size: .9rem; margin-top: .15rem; color: #92B4EC;}

/* start of out_of_stock css */
.out_of_stock{position:absolute; top:0; left:0; height:100%; width:100%; background:rgba(256,256,256,0.6); z-index:1; text-align:center;}
.out_of_stock span{position:relative; top:50%; font-size:28px; display:block; color:rgba(0,0,0,0.4); border-width:1px 0; border-style:solid; border-color:rgba(0,0,0,0.4); display:inline-block; text-transform:uppercase; transform:rotate(-7deg); -moz-transform:rotate(-7deg); -ms-transform:rotate(-7deg); -o-transform:rotate(-7deg); -webkit-transform:rotate(-7deg);}
/****************** start of media css *******************/

@media (max-width: 767.98px) {
	/* start of brief_subscription_box css */
	.section_box{padding:2rem 0;}
	
	/******* shopNowBanner ******/
	.shopNowBanner figure .figure-caption{left: 0; transform: translate(0, -50%); width: 100%; font-size: 1rem;}
	.shopNowBanner figure .figure-caption span{font-size: 1.1rem;}
	
	/* filterLinks */
	.filterLinks li a{width: 6rem; font-size: .85rem;}
	
	/* productItems */
	.productItems{margin-top: 1.6rem;}
	.productItems .card{margin-bottom: .5rem;}
	.productItems .card .card-body{padding: .8rem 0;}
	.productItems .card .card-body .card-title{font-size: .95rem;}
	.productItems .card .card-body .card-title span{font-size: .8rem;}
	.productItems .card .card-body .card-text,
	.productItems .card .card-body .card-text del{font-size: .8rem;}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	
}

@media (max-width: 575px) {	
}